.accordion-tabs
  position: relative

  .tabs-content
    border: 0

  &__tabs
    border: 0

    .accordion-title
      font: 400 15px/16.32px Roboto, sans-serif
      color: #333
      border-color: #ccc
      border-right: 0
      border-left: 0
      &:before
        font: 18px Flaticon
        content: '\f104'
        transition: all .3s
      &:hover
        background: transparent
      &:focus
        background: transparent
        text-shadow: $text-hover
    li:last-child:not(.is-active)>.accordion-title
      border-bottom: 1px solid #ccc
    .accordion-content
      border-color: #ccc
      border-right: 0
      border-left: 0
      padding-top: 0
      padding-bottom: 0
      p
        padding-top: 20px
    .accordion-item.is-active
      a
        text-shadow: $text-hover
      .accordion-title
        &:before
          transform: rotate(180deg)
          transition: all .3s

  &__content
    border: 0

    .tabs-panel
      border: 0
      padding-right: 0
      padding-top: 0

  .tabs-title
    a
      font: 400 15px/16.32px Roboto, sans-serif
      color: #333
      padding: 15px 0
      position: relative
      &:after
        content: ''
        height: 100%
        width: 100%
        background: transparent
        border-top: 1px solid #ccc
        position: absolute
        bottom: 0
        left: 0
        transition: width .3s
      &:hover
        background: transparent
        text-shadow: $text-hover
        transition: all .3s
      &:focus
        background: transparent
        text-shadow: $text-hover
        transition: all .3s

    &:last-child
      a:after
        border-bottom: 1px solid #ccc

    a[aria-selected=true]
      background: transparent
      text-shadow: $text-hover
      transition: all .3s







