.advantages
  font-size: 100%
  padding: .8125em 0
  border-top: 1px solid #cccccc
  border-bottom: 1px solid #cccccc

  &__container
    padding-right: .9375em
    padding-left: .9375em

  &__item
    display: flex
    padding: 3.1em 0
    position: relative
    flex: 0 0 100%
    max-width: 100%
    justify-content: center
    @media (min-width: 30em)
      flex: 0 0 50%
      max-width: 50%
    @media (min-width: 64em)
      flex: 0 0 25%
      max-width: 25%

    &:before
      font: .675em Flaticon
      content: '\f104'
      position: absolute
      visibility: hidden
      color: #333
      text-align: center
      left: 0
      right: 0
      bottom: 20%
      margin: 0 auto
    &:hover
      transition: all .3s

      &:before
        bottom: 25%
        visibility: visible
        transition: visibility .1s, bottom .3s

      .advantages__title
        color: #72CBD2
        transition: all .3s

      .advantages__icon
        fill: #72CBD2
        transition: all .3s


  &__icon
    width: 2.1875em
    height: 2.1875em
    transition: all .3s


  &__title
    font: 1.125em Roboto, sans-serif
    font-weight: 700
    color: #333333
    margin-left: .9375em
    transition: all .3s
    @media (min-width: 64em)
      font-size: 16px
    span
      font-size: .875em
      font-weight: 300
      color: #333333


