.b-tooltip

  &__title
    margin-bottom: 5px
    font-size: 14px

  &__btn
    font-size: 13px
    padding: 5px 15px
    background: #70cbd2
    color: #fff
    display: inline-block
    border-radius: 3px
    transition: all .3s
    &:hover
      color: #fff
      background: #000
      transition: all .3s

.tooltipster-noir.tooltipster-noir-customized .tooltipster-content
  text-align: center
.tooltipster-noir.tooltipster-noir-customized .tooltipster-box
  background: #fff
  border: 0
  border-radius: 3px
  box-shadow: 0px 0px 4px 0px rgba(102,102,102,1)
.tooltipster-noir.tooltipster-noir-customized .tooltipster-content
  color: #000
  padding: 8px

.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-background,
.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-background
  border-top-color: #fff
  border-bottom-color: #fff

.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-background
  top: -1px

.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-background
  top: 0


.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-border,
.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-border
  border-top-color: #E3E3E3
  border-bottom-color: #E3E3E3