.box-contacts
  padding: 1.375em 1.875em
  border: 1px solid #70cbd2

  &__title
    font: 700 14px/18px Roboto, sans-serif
    color: #70cbd2
    text-align: center
    margin-bottom: .4em


  &__shedule
    padding: 0
    list-style: none
    margin: 0 0 1em
    li
      font: 300 12px Roboto, sans-serif
      color: #666666
      text-align: center
      margin-bottom: .5em
      a
        color: #666666
        transition: all .3s
        &:hover
          color: #70cbd2
          transition: all .3s

  &__link
    font: 300 12px Roboto, sans-serif
    color: #666666
    display: block
    text-align: center
    text-decoration: underline

  &__to
    > a
      font: 300 .9375em Roboto, sans-serif
      color: #666666
      margin-left: .2em
      &:hover
        text-decoration: underline
