.btn
  font: 400 1.125rem Roboto, sans-serif
  letter-spacing: .1rem
  text-transform: uppercase
  position: relative
  padding-right: 1.3rem
  color: #fff
  background: #70cbd2
  width: 100%
  max-width: 196px
  height: 2.8125rem
  display: inline-block
  text-align: center
  line-height: 2.8125rem
  border-radius: 2rem
  border: 1px solid #70cbd2
  transition: all .3s
  cursor: pointer
  &:before
    font: .875rem Flaticon
    content: '\f10d'
    position: absolute
    top: 50%
    transform: translateY(-50%)
    right: 1.5rem
    transition: right .3s
  &:hover
    color: #fff
    background: #60A9B0
    transition: all .3s
    border-color: #60A9B0
    &:before
      right: 1.3rem
      transition: right .1s
  &:focus
    outline: 0

  &_simple
    max-width: initial
    width: inherit
    padding-right: 36px
    padding-left: 36px
    display: flex
    align-items: center
    justify-content: center
    line-height: normal
    font-size: .875rem
    height: 36px
    margin: 0 auto
    &:before
      content: ''

  &-link
    font: 700 18px Roboto, sans-serif
    color: #282828
    display: inline-block
    position: relative
    transition: all .3s
    &:hover
      color: #60A9B0
      transition: all .3s
      &:before
        right: -2.3rem
        transition: all .2s
    &:before
      font: .875rem Flaticon
      content: '\f10d'
      position: absolute
      transition: all .2s
      top: 6px
      right: -2rem

  &.btn_small
    font-size: .875rem
    max-width: 156px
    height: 2.5rem
    line-height: 2.5rem
    letter-spacing: .1rem
    &:before
      right: 1rem
      font: .675rem Flaticon
      content: '\f10d'
      position: absolute
      top: 50%
    &:hover
      transition: all .3s
      &:before
        right: .7rem
        transition: right .1s


  &.btn_padding
    max-width: initial
    width: inherit
    padding-right: 67px
    padding-left: 55px
    text-align: center
    font-size: .875rem
    @media (min-width: 40em)
      font-size: 1.25rem

  &.btn_more
    &:before
      transform: rotate(90deg)
      right: 1.5rem
      transition: all .3s
    &:hover
      &:before
        transition: all .1s
        right: 1.5rem
        top: 40%

  &.btn_abs
    position: absolute
    bottom: 0
    right: 0
    left: 0
    margin: 0 auto
    @media (min-width: 40em)
      right: auto
      left: .9375rem

  &.btn_flex
    max-width: 100%
    width: inherit
    padding-right: 67px
    padding-left: 55px
    display: flex
    align-items: center
    justify-content: center
    line-height: normal
    font-size: .875rem
    margin: 0 auto
    @media (min-width: 40em)
      font-size: 1.25rem
      margin: 0



