.buy-marks
  list-style: none
  padding: 0
  margin: 0
  display: flex
  justify-content: flex-end
  height: 100%
  flex-wrap: wrap
  align-content: center
  @media (min-width: 40em)
    flex-direction: row
  @media (min-width: 64em)
    justify-content: flex-end
    flex-wrap: nowrap

  li
    margin-left: 1rem
    @media (min-width: 40em)
      margin-left: 1.4375rem
    > a
        font: .8125rem Roboto, sans-serif
        color: #000
        transition: all .3s
        display: inline-block
        &:hover
          transform: translateY(-2px)
          color: #000
          transition: all .3s
        &:hover .buy-marks__icon:before
          color: #000
          transition: all .3s
        @media (min-width: 64em)
          color: #70cbd2
          font-size: 12px

  .buy-marks__icon:before
    font-size: 1rem
    margin-right: 4px
    margin-left: 0
    color: #70cbd2
    transition: all .3s