.case
  position: relative
  margin-bottom: 30px

  &__img
    background: #333
    img
      opacity: .7
      max-width: 100%
      height: auto
      display: block
      margin: 0 auto

  &__content
    max-width: 182px
    text-align: center
    position: absolute
    right: 0
    left: 0
    margin: 0 auto
    bottom: 8%
    @media (min-width: 40em)
      right: 8%
      text-align: right
      left: auto

  &__division
    font: 1.25rem PlayItalic, sans-serif
    color: #fff
    margin-bottom: .625rem
    display: inline-block

  &__title
    font: 700 1.25rem Roboto, sans-serif
    color: #fff
    margin-bottom: 1.125rem
