.category

  &-side
    margin-bottom: 60px

    &__list
      margin: 0
      padding: 0
      list-style: none
      column-count: 2
      @media (min-width: 40em)
        column-count: 1
      li
        text-align: left
        margin-bottom: 8px
        @media (min-width: 40em)
          text-align: left

      a
        font: 400 14px Roboto, sans-serif
        color: #333333
        white-space: nowrap
        &:hover
          text-shadow: $text-hover

      span
        font: 700 14px Roboto, sans-serif
        color: #333333
        white-space: nowrap

  &-row
    display: flex
    margin-right: -.9375rem
    margin-left: -.9375rem
    flex-wrap: wrap
    margin-bottom: 30px

    .column
      @media (min-width: 40em)
        margin-bottom: 30px



