.crumbs
  margin: 0
  padding: 15px 0
  list-style: none
  display: flex
  flex-wrap: wrap

  li
    font: 400 15px Roboto, sans-serif
    display: flex
    color: #000
    align-self: center
    padding: 3px 0
    @media (min-width: 64em)
      font-size: 12px

  a
    color: #70cbd2
    text-decoration: underline
    padding-bottom: 2px
    transition: all .3s
    display: inline-block
    margin-right: .75rem
    &:hover
      text-decoration: none
      color: #000
      transition: all .3s

  li:not(:first-child):before
    font: 10px Flaticon
    color: #70cbd2
    position: relative
    margin: 0 0.75rem 0 0
    opacity: 1
    content: "\f10d"
    align-self: center

  li:last-of-type:before
    color: #000

  li:hover
    &:before
      color: #000

