.detail

  &__gallery
    position: relative

    .slider__controls .slider__controls-item_prev
      @media (min-width: 64em)
        margin-left: 20%


    .slider-nav
      position: static
      @media (min-width: 64em)
        position: absolute
        width: 14.5%
        top: 0
        z-index: 2

      &__controls
        height: 100%
        position: absolute
        top: 0
        width: 14.5%
        z-index: 1
        display: none
        @media (min-width: 64em)
          display: block


        .slider__controls-item
          background: transparent
          display: block
          &:hover:before
            color: #ccc
          @media (min-width: 64em)
            margin: 0 auto
            left: 0
            right: 0

          &.slick-disabled
            &:hover
              &:before
                color: #666


        .slider__controls-item_prev
          top: -35px
          transform: rotate(-90deg)


        .slider__controls-item_next
          bottom: -35px
          transform: rotate(90deg)


      &__item.slick-slide
        border: 0
        cursor: pointer
        margin: 0 0 19% 0
        background: #70cbd2
        &:focus
          cursor: pointer
          border: 0
          outline: 0
        img
          &:hover
            opacity: .6
          &:focus
            border: 0
            outline: 0

      &__item.slick-current
        img
          opacity: .6

    .slider-for
      margin-left: 0
      margin-bottom: 20px
      @media (min-width: 64em)
        margin-left: 20%
        margin-bottom: 0


      &__item
        border: 0
        outline: 0

        > a
            cursor: url(../images/zoom.png), pointer



        &:focus
          border: 0
          outline: 0
        img
          width: 100%
          &:focus
            border: 0
            outline: 0

  &-info

    &__header
      display: flex
      margin-bottom: 5px
      flex-wrap: wrap
      @media (min-width: 64em)
        flex-wrap: nowrap

    &__title
      font: 700 18px Roboto, sans-serif
      text-transform: uppercase
      margin-right: 30px

    &__code
      display: flex
      padding-top: 1px

    &__code-title
      font: 400 15px Roboto, sans-serif
      color: #494949
      margin-right: 5px
      margin-bottom: 0

    &__code-num
      font: 400 15px Roboto, sans-serif
      color: #494949

    &__price
      display: flex
      align-items: center
      margin-bottom: 17px
      flex-wrap: wrap

    &__price-num
      font: 700 1.6875rem Roboto, sans-serif
      color: #2c2d2d
      align-self: center
      white-space: nowrap
      margin-right: 45px

    &__price-follow
        font: 400 15px Roboto, sans-serif
        color: #70cbd2
        white-space: nowrap
        display: flex
        align-items: center
        transition: all .3s
        &.flaticon-eye
          &:before
            font-size: 22px
            margin-left: 0
            margin-right: 5px
        &:hover
          color: #333
          transition: all .3s

    &__colors
      display: flex
      margin-bottom: 20px

    &__colors-title
      font: 700 14px Roboto, sans-serif
      color: #333
      text-transform: uppercase
      align-self: center
      margin-right: 10px

    &__colors-content
      list-style: none
      padding: 0
      margin: 0
      display: flex
      flex-wrap: wrap

    &__colors-item
      width: 30px
      height: 30px
      display: flex
      overflow: hidden
      border-radius: 20px
      margin-right: 8px
      margin-bottom: 3px

    &__form
      margin-bottom: 35px
      @media (min-width: 40em)
        margin-bottom: 65px

    &__row
      display: flex
      width: 100%
      margin-bottom: 10px
      &.detail-info__row_wrap
        flex-wrap: wrap

    &__column-2
      width: 40%

    &__size
      display: flex
      width: 100%
      padding-right: 15px
      flex-wrap: wrap
      @media (min-width: 40em)
        width: 60%

    &__suit
      display: flex
      width: 100%
      padding-right: 15px
      flex-wrap: wrap
      @media (min-width: 64em)
        width: 60%

    &__table
      width: 40%
      align-self: center


    &__size-title
      font: 700 14px Roboto, sans-serif
      color: #333
      text-transform: uppercase
      align-self: center
      margin-right: 15px

    &__count-title
      font: 700 14px Roboto, sans-serif
      color: #333
      align-self: center
      margin-right: 15px

    &__size-list
      list-style: none
      margin: 0
      padding: 0
      display: flex
      flex-wrap: wrap
      align-items: center
      li
        padding-bottom: 4px

    &__particulars
      display: flex
      flex-wrap: wrap

    &__res
      font: 400 15px Roboto, sans-serif
      color: #70cbd2
      display: flex
      align-items: center
      padding: 10px 0
      transition: all .3s
      .st0, path
        transition: all .3s
      &:hover
        color: #333
        transition: all .3s
      &:hover .st0
        fill: #333
        transition: all .3s
      &:hover path
        fill: #333
        transition: all .3s

      img
        position: relative

      &.detail-info__res_up
        text-transform: uppercase
        margin-right: 15%
        white-space: nowrap
        &:last-child
          margin-right: 0

    &__img-size
      width: 28px
      height: 26px
      bottom: 2px
      margin-right: 7px

    &__img-hanger
      width: 18px
      height: 25px
      margin-right: 7px

    &__img-suit
      width: 33px
      height: 33px
      margin-right: 7px

    &__img-question
      width: 10px
      height: 20px
      margin-right: 7px
      margin-left: 3px

    &__favorite
      font: 400 15px Roboto, sans-serif
      color: #70cbd2
      white-space: nowrap
      display: inline-block
      align-self: center
      padding-top: 12px
      margin-bottom: 12px
      transition: all .3s
      &:before
        font: 20px Flaticon
        content: '\f117'
        margin: 0 10px 0 0
        position: relative
        top: 3px
      &:hover
        color: #333
        transition: all .3s

    &__favorite-cancel
      color: #70cbd2

      &:before
        font: 21px Flaticon
        content: "\f102"




    &__delivery
      a
        font: 700 14px Roboto, sans-serif
        color: #70cbd2
        text-transform: uppercase
        display: inline-block
        transition: all .3s
        padding: 0 1rem
        &:hover
          color: #333
          transition: all .3s

  &-accordion

    &__item
      &:last-child>.accordion-content:last-child
        border-bottom: 0
      &:last-child:not(.is-active)>.accordion-title
        border-bottom: 0
      & > a.detail-accordion__title:before
        font: 12px Flaticon
        content: '\f104'
        transition: all .3s
        right: auto
        top: 17px
        left: 0
        transform: rotate(90deg)
      &.is-active > a.detail-accordion__title:before
        transform: rotate(180deg)
        transition: all .3s



    &__title
      font: 700 14px Roboto, sans-serif
      border: 0
      color: #2c2d2d
      text-transform: uppercase
      padding-left: 1.1rem
      padding-top: .5rem
      padding-bottom: .5rem
      &:hover,
      &:focus
        background: transparent
        color: #2c2d2d




    &__content
      border: 0
      padding-top: 5px
      padding-bottom: 0
      p
        font: 400 14px/21px Roboto, sans-serif
        color: #494949
        @media (min-width: 40em)
          text-align: justify

  &__location
    margin-right: -30px
    margin-left: -30px
    padding-left: 30px
    overflow: hidden


  &__location-list
    list-style: none
    padding: 0
    margin: 0 -65px 0 0
    display: flex
    flex-wrap: wrap
    justify-content: flex-start



    li
      margin-bottom: 20px
      margin-right: 65px
      padding: 0 2px
      max-width: 100%
      min-width: 212px
      @media (min-width: 40em)
        max-width: 212px


    .detail__location-title
      font: 700 14px Roboto, sans-serif
      color: #494949
      margin-bottom: 5px

    .detail__location-text
      font: 400 14px Roboto, sans-serif
      color: #494949
      margin-bottom: 0

  &__location-map
    font: 400 14px Roboto, sans-serif
    color: #494949
    text-decoration: underline
    display: inline-block
    position: relative
    transition: all .3s
    &:before
      font: 18px Flaticon
      position: absolute
      content: '\f118'
      margin-left: 0
      color: #70cbd2
      top: -2px
      left: -20px
      transition: all .3s
    &:hover
      text-decoration: none
      transition: all .3s
      &:before
        color: #494949
        transition: all .3s
        top: 0

  &__consist
    ul
      list-style: none
      padding: 0
      margin: 0
    li
      font: 400 14px Roboto, sans-serif
      color: #494949
      margin-bottom: 5px
      img
        width: 45px
        height: auto
        margin-right: 10px

#detail-info_widget
  max-width: 178px



