.enter
  position: absolute
  top: 8px
  left: .9375rem
  height: auto
  list-style: none
  display: flex
  padding: 0
  margin: 0

  @media (min-width: 64em)
    position: static
    height: 100%
  @media (min-width: 90em)
    justify-content: flex-end



  &__item
    a
      font: .9375rem Roboto, sans-serif
      font-weight: 400
      color: #666666
      transition: all .3s
      @media (min-width: 64rem)
        font-size: 12px
      &:hover
        text-shadow: $text-hover
        transition: all .3s

    &.enter__item_line
      padding-right: 15px
      a
        margin-right: 15px
