.filter

  .mCSB_inside>.mCSB_container
    display: flex

  .mCSB_scrollTools
    width: 22px
  .mCS-rounded.mCSB_scrollTools .mCSB_draggerRail
    background: #7f7f7f
    width: 1px

  .mCSB_scrollTools .mCSB_dragger
    height: 20px
  .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar
    background: #70cbd2
    width: 20px
    height: 20px
    &:before
      font: .675rem Flaticon
      content: '\f105'
      color: #fff
      text-align: center

  &-options
    list-style: none
    margin: 0
    padding: 0

  input[type="checkbox"].checkbox-load + label, input[type="radio"].radio-load + label
    @media (min-width: 64em)
      font-size: 12px
      padding-top: 6px


  &-columns
    display: flex


  &-columns__list
    display: flex
    justify-content: space-around
    cursor: pointer
    margin-left: 25px
    &:focus
      outline: 0
      border: 0
    &:hover
      span
        &:before
          height: 100%
          transition: height .4s
    span
      width: 16px
      display: inline-block
      height: 25px
      margin: 0 2px
      background: #cacaca
      position: relative
      &:before
        content: ''
        width: 100%
        height: 0
        position: absolute
        bottom: 0
        left: 0
        background: #70cbd2
        transition: height .4s


    &.is-active
      span
        background: #70cbd2

  &-top
    display: flex
    justify-content: flex-start
    align-items: center
    position: relative
    margin-bottom: 25px
    @media (min-width: 40em)
      justify-content: flex-end
      margin-bottom: 0

  &-mobile-btn
    position: absolute
    cursor: pointer
    right: 0
    font-size: 75%
    @media (min-width: 25em)
      font-size: 100%
    @media (min-width: 40em)
      display: none


    input
      opacity: 0
      position: absolute

    label
      font: 700 1em Roboto, sans-serif
      position: relative
      display: block
      background: #f8f8f8
      border: 1px solid #f0f0f0
      border-radius: 2em
      padding: .5em 1em .5em 5em
      box-shadow: 0 1px 2px rgba(100, 100, 100, 0.5) inset, 0 0 10px rgba(100, 100, 100, 0.1) inset
      cursor: pointer
      margin-right: 0
      text-shadow: 0 2px 2px #fff
      &::before
        content: ''
        position: absolute
        top: 50%
        left: .7em
        width: 3em
        height: 1.2em
        border-radius: .6em
        background: #eee
        -webkit-transform: translateY(-50%)
        transform: translateY(-50%)
        box-shadow: 0 1px 3px rgba(100, 100, 100, 0.5) inset, 0 0 10px rgba(100, 100, 100, 0.2) inset
      &::after
        content: ''
        position: absolute
        top: 50%
        left: .5em
        width: 1.4em
        height: 1.4em
        border: .25em solid #fafafa
        border-radius: 50%
        box-sizing: border-box
        background-color: #ddd
        background-image: -webkit-linear-gradient(bottom, #fff 0%, #fff 40%, transparent 100%)
        background-image: linear-gradient(to top, #fff 0%, #fff 40%, transparent 100%)
        -webkit-transform: translateY(-50%)
        transform: translateY(-50%)
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5)
      -webkit-transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1)
      transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1)
      &::before, &::after
        -webkit-transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1)
        transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1)
      &:hover
        color: black

    input:focus + label
      color: black

    label:hover::after
      background-color: #ccc
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5)

    input
      &:focus + label::after
        background-color: #ccc
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5)
      &:checked
        + label
          &::before
            background: #70cbd2
          &::after
            -webkit-transform: translateX(2em) translateY(-50%)
            transform: translateX(2em) translateY(-50%)

  &-mobile-btn__label
    font-size: 80%




  &-mobile-toggle
    display: none
    @media (min-width: 40em)
      display: block !important

  &__title
    font: 700 18px Roboto, sans-serif
    color: #282828
    text-transform: uppercase
    margin-bottom: 30px
    display: block

  &-box:not(:nth-child(2))
      border-top: 1px solid #ccc
      @media (min-width: 40em)
        border-top: 0

  &-box__wrap
    display: none
    margin-bottom: 30px
    @media (min-width: 40em)
      max-height: 122px
    &.is-active
      display: block
    &.filter-cat__wrap
      @media (min-width: 40em)
        max-height: 220px






  &-box__title
    font: 700 14px Roboto, sans-serif
    color: #333
    padding: 18px 0 18px 20px
    text-transform: uppercase
    position: relative
    cursor: pointer
    display: block
    text-align: right
    user-select: none
    @media (min-width: 40em)
      padding: 18px 0 4px 20px
    &:before
      content: ''
      position: absolute
      top: 23px
      left: 2px
      border: solid black
      border-width: 0 2px 2px 0
      display: inline-block
      padding: 3px
      transform: rotate(-135deg)
      transition: all .3s
    &.is-active
      &:before
        top: 20px
        transform: rotate(45deg)
        transition: all .3s
    @media (min-width: 40em)
      text-align: left




  &-box-price__wrap.form__wrap
    margin-right: 15px
    margin-bottom: 15px

  &-box-price__form
    display: flex
    flex-wrap: wrap

  &-box-price__input.form__input
    font: 400 14px Roboto, sans-serif
    padding: 9px 15px
    height: 22px
    max-width: 100px
    width: 100%

  &-box-price__btn
    border: 1px solid #70cbd2
    width: 36px
    height: 36px
    border-radius: 25px
    cursor: pointer
    position: relative
    &:before
      content: ''
      display: block
      width: 10px
      height: 18px
      border: 1px solid #000
      position: absolute
      top: 3px
      left: 12px
      border-radius: 0
      opacity: 1
      border-top-color: transparent
      border-left-color: transparent
      transform: rotate(45deg)
      transition: all .3s
    &:hover
      background: #70cbd2
      &:before
        border-bottom-color: #fff
        border-right-color: #fff
        transition: all .3s

  ::-webkit-input-placeholder
    font: 400 14px Roboto, sans-serif
    color: #333

  ::-moz-placeholder
    font: 400 14px Roboto, sans-serif
    color: #333

  :-ms-input-placeholder
    font: 400 14px Roboto, sans-serif
    color: #333

  :-moz-placeholder
    font: 400 14px Roboto, sans-serif
    color: #333




