.form



  &__wrap
    display: flex
    flex-direction: column
    margin-bottom: 30px

    .has-error .help-block
      font: 13px'Open Sans', Arial, sans-serif
      padding: 5px 0
      color: red



  &__row
    display: flex
    flex-direction: column
    @media (min-width: 64em)
      flex-direction: row
      > div
        width: 50%


  &__label

    &.form__label_half-2
      .form__input
        @media (min-width: 64em)
          margin-left: -1px
          width: calc(100% + 1px)
    &.form__label_bday
      position: relative
      max-width: 100%
      .flaticon-calendar
        z-index: 10
        cursor: pointer
        position: absolute
        right: 1.0625rem
        top: 0
        &:hover:before
          color: #000
        &:before
          font-size: 27px
          color: #70cbd2
          margin-left: 0

    ::-webkit-input-placeholder
      font: 400 .9375rem Roboto, sans-serif
      color: #aaaaaa

    ::-moz-placeholder
      font: 400 .9375rem Roboto, sans-serif
      color: #aaaaaa

    :-ms-input-placeholder
      font: 400 .9375rem Roboto, sans-serif
      color: #aaaaaa

    :-moz-placeholder
      font: 400 .9375rem Roboto, sans-serif
      color: #aaaaaa


  &__input,
  &__textarea
    font: 400 0.9375rem Roboto, sans-serif
    color: #000
    padding: 9px 1.0625rem
    border: 1px solid #9d9d9d
    margin-bottom: -1px
    outline: 0
    box-shadow: none
    position: relative
    z-index: 1
    &:focus
      border-color: #70cbd2
      box-shadow: none
      z-index: 5

  &__textarea
    height: auto
    resize: none
    padding-top: 10px
    padding-bottom: 10px





  &__text
    font: 15px Roboto, sans-serif
    color: #494949
    text-align: center
    @media (min-width: 64em)
      text-align: left
      padding-left: 1.25rem

  &__enter
    font: 15px Roboto, sans-serif
    margin: 0
    padding: 15px 0
    color: #494949
    text-align: center
    align-self: center

    a
      color: #70cbd2
      display: inline-block
      margin-left: 7px
      text-decoration: underline
      &:hover
        text-decoration: none


  &__group
    display: flex
    margin-bottom: 1.5625em
    &.form__group_check
      justify-content: center
      @media (min-width: 64em)
        justify-content: flex-start
    &.form__group_btn
      flex-direction: column
      @media (min-width: 84rem)
        flex-direction: row




  &__reg-wrap
    margin-right: 15px
    text-align: center

  &__enter-wrap
    text-align: center
    width: 100%

  &__middle
    display: flex
    justify-content: center






