.info

  &.section
    order: 3

  &__text
    height: 210px
    h1
      @media (min-width: 64em)
        font-size: 25px
    h2
      @media (min-width: 64em)
        font-size: 20px
    li
      @media (min-width: 64em)
        font: 400 12px/20px Roboto, sans-serif
    p
      font: 400 .875rem/1.3125rem Roboto, sans-serif
      color: #494949
      text-align: center
      @media (min-width: 64em)
        font: 400 12px/20px Roboto, sans-serif
    &.info__text-justify
      p
        @media (min-width: 64em)
          text-align: justify

  .mCSB_inside>.mCSB_container
    margin-right: 35px

  .mCSB_scrollTools
    width: 22px
  .mCS-rounded.mCSB_scrollTools .mCSB_draggerRail
    background: #7f7f7f
    width: 1px

  .mCSB_scrollTools .mCSB_dragger
    height: 20px
  .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar
    background: #70cbd2
    width: 20px
    height: 20px
    &:before
      font: .675rem Flaticon
      content: '\f105'
      color: #fff
      text-align: center