.input
  border: 1px solid #72CBD2
  border-radius: 17px
  &:focus
    border-color: #72CBD2



input[type="checkbox"].checkbox-preload
  display: none
  + label
    display: block
    position: relative
    padding-left: 35px
    padding-top: 5px
    margin-bottom: 20px
    margin-left: 0
    font: 14px/20px 'Open Sans', Arial, sans-serif
    color: #494949
    cursor: pointer
    -webkit-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    &:last-child
      margin-bottom: 0
    &:before
      content: ''
      display: block
      width: 28px
      height: 28px
      border: 1px solid #72CBD2
      position: absolute
      left: 0
      top: 0
      opacity: .6
      -webkit-transition: all .12s, border-color .08s
      transition: all .12s, border-color .08s
  &:checked + label:before
    width: 10px
    top: -5px
    left: 5px
    border-radius: 0
    opacity: 1
    border-color: #000
    border-top-color: transparent
    border-left-color: transparent
    -webkit-transform: rotate(45deg)
    transform: rotate(45deg)


input[type="checkbox"].checkbox-load,
input[type="radio"].radio-load
  display: none
  + label
    display: block
    position: relative
    padding-left: 16px
    margin-left: 0
    padding-top: 4px
    margin-bottom: 20px
    font: 400 14px Roboto, sans-serif
    color: #333
    cursor: pointer
    -webkit-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    &:last-child
      margin-bottom: 0
    &:before
      content: ''
      display: block
      width: 10px
      height: 10px
      border: 1px solid #000
      position: absolute
      left: 0
      top: 7px
      opacity: .6
      -webkit-transition: all .12s, border-color .08s
      transition: all .12s, border-color .08s
    &:after
      position: absolute
      left: 0
      top: 7px
      opacity: .6
  &:checked + label:after
    font: 10px Flaticon
    color: #000
    content: '\f102'
    opacity: 1



