.logo
  display: flex

  &__link
    display: inline-block
    max-width: 280px
    width: 100%
    @media (min-width: 40em)
      max-width: 310px
      margin-left: 12px

  &__img
    max-width: 100%
    height: auto
