.main-tabs
  padding-top: 0
  @media (min-width: 64em)
    padding-top: 30px
  &.section
    @media (min-width: 64em)
      margin-bottom: 0
      padding-bottom: 15px

  .tabs
    border: 0
    position: relative
    display: flex
    margin-bottom: 30px
    padding-top: 25px
    @media (min-width: 40em)
      padding-top: 0
    li:first-child
      &:before
        margin-left: 25%
      > a
        padding-left: 0



  .tabs-line
    border-top: 1px solid #333
    width: 100%
    height: 1px
    align-self: center

  .tabs-panel
    padding: 0


  .tabs-title
    position: relative
    &:before
      font: .675rem Flaticon
      content: '\f104'
      color: #333
      display: none
      position: absolute
      width: 30px
      height: 30px
      left: 0
      right: 0
      bottom: -15px
      margin: 0 auto
      text-align: center
    &.is-active
      &:before
        display: block

    span
      position: absolute
      font-size: 1.3rem
      color: #a6a6a6
      top: 1rem
      right: 0

  .tabs-title>a
    font: 1.125rem Roboto, sans-serif
    background: transparent
    color: #282828

    &:hover
      text-shadow: $text-hover
    &:focus
      border: 0
      outline: none

  .tabs-title.is-active>a
    text-shadow: $text-hover

  .tabs-content
    border: 0