.main-card
  margin-bottom: 30px
  &.main-card_largembot
    margin-bottom: 60px

  &__img
    position: relative
    &:hover
      .main-card__btn.btn
        display: block
    img
      max-width: 100%
      height: auto
      display: block
      margin: 0 auto

  &__btn.btn
    position: absolute
    bottom: 7%
    display: block
    left: 0
    right: 0
    margin: 0 auto
    @media (min-width: 64em)
      display: none
      left: auto
      right: 8%



  &__content
    padding-top: 45px
    text-align: center
    @media (min-width: 40em)
      text-align: left
    &.main-card__content_paddtop
      padding-top: 15px

  &__title
    font: 400 1.125rem/1.6875rem Roboto, sans-serif
    color: #494949
    @media (min-width: 64em)
      font: 400 13px/normal Roboto, sans-serif
    > a
      font: 400 1.125rem/1.6875rem Roboto, sans-serif
      color: #494949
      @media (min-width: 64em)
        font: 400 13px/normal Roboto, sans-serif
    br
      display: none
      @media (min-width: 64em)
        display: block


  &__details
    display: flex
    flex-wrap: wrap
    justify-content: center
    @media (min-width: 40em)
      justify-content: space-between
    &.main-card__details_minspace
      margin-bottom: 10px
      @media (min-width: 40em)
        margin-bottom: 0

      .main-card__price-item
        margin-bottom: 15px

  &__colors
    list-style: none
    padding: 0
    margin: 0 0 15px 0
    display: flex
    flex-wrap: wrap
    justify-content: center
    @media (min-width: 40em)
      justify-content: flex-start
    &.main-card__colors_fullwidth
      width: 100%

  &__color-item
    width: 25px
    height: 25px
    display: flex
    overflow: hidden
    border-radius: 20px
    margin-left: 3px
    margin-bottom: 3px
    a
      display: inherit


  &__price
    display: flex
    flex-wrap: wrap
    justify-content: center
    @media (min-width: 40em)
      justify-content: space-between

  &__price-item
    font: 1.6875rem Roboto, sans-serif
    color: #2c2d2d
    font-weight: 700
    align-self: center
    white-space: nowrap
    margin-right: 25px
    @media (min-width: 64em)
      font-size: 20px
    &.main-card__price-item_wrong
      font-weight: 400
      color: #626060
      text-decoration: line-through

  &__heart
    width: 30px
    height: 30px
    background: #70cbd2
    border-radius: 20px
    display: block
    text-align: center
    padding: 7px 0
    margin-right: 15px
    margin-bottom: 1rem
    transition: all .3s
    &:before
      margin-left: 0
      color: #fff
      font-size: 13px
      transition: all .1s
    &:hover
      background: #60A9B0
      transition: all .3s
      &:before
        font-size: 1.1rem
        transition: all .1s

  &__cancel
    display: block
    width: 38px
    height: 38px
    margin-bottom: 15px
    transition: all .3s
    &:before
      font-size: 38px
      color: #70cbd2
      margin-left: 0
      transition: all .3s
    &:hover
      transform: rotate(90deg)
      transition: all .3s
      &:before
        color: #333
        transition: all .3s


    &_in-heart
      width: 40px
      height: 40px
      margin-right: 15px
      margin-bottom: 1rem
      &:hover
        &:before
          color: #70cbd2

