.mark
  font: 700 22px Roboto, sans-serif
  text-transform: uppercase
  position: absolute
  top: 15px
  left: -5px
  padding: 4px 15px
  background: #70cbd2
  color: #fff
  @media (min-width: 64em)
    font: 700 16px Roboto, sans-serif