
.menu-drilldown__wrap
  border-right: 2px solid #70cbd2


.is-drilldown
  top: 75px
  margin-bottom: 90px

.menu-drilldown__close
  top: 30px
  display: inline-block
  cursor: pointer
  position: absolute
  right: 1.5625rem
  &:before
    font: 25px Flaticon
    color: #70cbd2
    margin-left: 0

.menu-drilldown
  &.drilldown
    a
      white-space: normal
      &:focus
        outline: 0

    > li
      > a
        font: 700 0.875em Roboto, sans-serif
        text-transform: uppercase
        padding: 1rem 1.5625rem
        color: #000

    .is-drilldown-submenu-parent
      >a:after
        font: 14px Flaticon
        content: '\f10d'
        border: 0
        margin-top: -7px
        right: 2rem

  &__submenu
    > li
      > a
        font: 400 0.875em Roboto, sans-serif
        color: #000
        text-transform: uppercase

  .js-drilldown-back
    a
      font: 700 1em Roboto, sans-serif
      color: #70cbd2
      text-transform: uppercase
      &:before
        font: 14px Flaticon
        content: '\f103'
        border: 0
        margin-top: -16px
        margin-right: 1.5rem

  &__postmenu

    .is-submenu-item
      > a
        font: 400 0.875em Roboto, sans-serif
        color: #000
        padding: .4rem 0
        margin-right: 1rem
        margin-left: 1rem
        border-bottom: 1px solid #cccccc
    .is-submenu-item:last-of-type
      > a
        border-bottom: 0

  &__enter
    padding: 1rem 1.5625rem
    list-style: none
    li
      font: 700 15px Roboto, sans-serif
      color: #333
      text-transform: uppercase
    a
      font: 700 .875rem Roboto, sans-serif
      color: #000
      transition: all .3s
      position: relative
      display: block
      &:hover
        color: #333
        transition: all .3s
      &:after
        font: 14px Flaticon
        content: '\f10d'
        border: 0
        margin-top: -7px
        right: -7px
        position: absolute
        top: 50%


