.menu-h
  list-style: none
  padding: 0
  margin: 0
  display: flex
  flex-direction: row
  margin-left: -1rem
  > li
    padding: 1rem
    display: block
    > a,
    > span
      font: 12px Roboto, sans-serif
      font-weight: 400
      color: #666666
      white-space: nowrap
      cursor: pointer
      display: block
      &:hover,
      &:focus
        color: #000
        text-shadow: $text-hover