.mobile-btn
  display: flex
  justify-content: flex-start

  .mobile-btn__item
    display: block
    cursor: pointer
    margin-right: 20px
    &:before
      font-size: 28px
      margin-left: 0
    &:hover
      color: #72CBD2

