.modal

  &-tel
    position: absolute
    top: 0
    z-index: 600
    left: 0
    background: #fff
    width: 368px
    padding: 40px
    visibility: hidden
    opacity: 0
    transition: all .3s
    box-shadow: 0 0 51px 0 rgba(0,0,0,0.48)

    &.is-show
        visibility: visible
        opacity: 1
        transition: visible .3s .5s, opacity .3s

    &-mob
      position: absolute
      top: 0
      z-index: 600
      left: 0
      width: 100%
      background: #fff
      padding: 40px 0 20px
      visibility: hidden
      opacity: 0
      transition: all .3s
      &.is-show
        visibility: visible
        opacity: 1
        transition: visible .3s .5s, opacity .3s



    &__form-wrap.form__wrap
      margin-bottom: 20px



    &__btn-wrap.form__group
      margin-bottom: 0

    &__btn.btn.btn_flex
      font-size: 14px
      padding-right: 60px
      padding-left: 45px
      @media (min-width: 64em)
        font-size: 17px
        padding-right: 60px
        padding-left: 45px

    &-overlay
      position: fixed
      top: 0
      right: 0
      bottom: 0
      left: 0
      transform: translateX(-100%)
      z-index: 500
      background-color: transparent
      transition: all .5s ease
      &.is-fill
        @media (min-width: 40em)
          transform: translateX(0)
          transition: all .5s ease

  &-center
    z-index: 600
    margin: auto 15px
    background: #fff
    max-width: 740px
    width: 100%
    padding: 40px
    visibility: hidden
    opacity: 0
    transition: all .3s
    box-shadow: 0 0 51px 0 rgba(0,0,0,0.48)

    &.is-show
      visibility: visible
      opacity: 1
      transition: visible .3s .5s, opacity .3s

    &__title
      font: 700 18px Roboto, sans-serif
      color: #000
      text-transform: uppercase
      margin-bottom: 35px
      text-align: center

    &-overlay
      position: fixed
      display: flex
      align-items: flex-start
      overflow-y: auto
      justify-content: center
      padding: 25px 15px
      top: 0
      right: 0
      bottom: 0
      left: 0
      transform: translateX(-100%)
      z-index: 500
      background-color: transparent
      transition: all .5s ease
      @media (min-width: 64em)
        align-items: center
      &.is-fill
        transform: translateX(0)
        transition: all .5s ease


  &-sizes
    z-index: 600
    margin: 30px 15px
    background: #fff
    max-width: 740px
    width: 100%
    padding: 40px
    visibility: hidden
    opacity: 0
    transition: all .3s
    box-shadow: 0 0 51px 0 rgba(0,0,0,0.48)
    &.is-show
      visibility: visible
      opacity: 1
      transition: visible .3s .5s, opacity .3s

    &__sup
      font: 400 10px Roboto, sans-serif
      color: #000
      position: absolute
      right: 12px
      top: 15px

    &__title
      font: 700 18px Roboto, sans-serif
      color: #000
      text-transform: uppercase
      margin-bottom: 35px
      text-align: center

    &-overlay
      position: fixed
      display: flex
      align-items: flex-start
      overflow-y: auto
      justify-content: center
      padding: 0 15px
      top: 0
      right: 0
      bottom: 0
      left: 0
      transform: translateX(-100%)
      z-index: 500
      background-color: transparent
      transition: all .5s ease
      @media (min-width: 64em)
        align-items: center
      &.is-fill
        transform: translateX(0)
        transition: all .5s ease

    .table-scroll table
      width: 660px

    table
      border-collapse: collapse
      border: 1px solid black

    table td
      position: relative

    table tbody td
      font: 400 15px Roboto, sans-serif
      color: #000
      padding-top: 1em
      padding-bottom: 1em

    table.unstriped tbody
      border: 1px solid #9d9d9d



    table tbody td:first-child
      padding-left: 2em

    table.unstriped tbody tr
      border: 0

    table tfoot
      font: 400 15px Roboto, sans-serif
      background: #fff
      color: #000
      border-right: 1px solid #9d9d9d
      border-left: 1px solid #9d9d9d
      border-bottom: 1px solid #9d9d9d

    table tfoot td
      font: 400 15px Roboto, sans-serif
      color: #000
      padding-top: 1em
      padding-bottom: 1em

    table tfoot td:first-child
      padding-left: 2em


  &-cart
    max-width: 840px
    position: relative
    padding: 40px 15px
    @media (min-width: 64em)
      padding: 40px 55px

    &-overlay
      &.modal-cart-overlay
        padding: 25px 0


    &__container
      border-left: 1px solid #9d9d9d
      border-top: 1px solid #9d9d9d
      border-right: 1px solid #9d9d9d

    &__row
      border-bottom: 1px solid #9d9d9d
      position: relative
      padding: 25px 0
      @media (min-width: 40em)
        padding: 0

    &__result-price
      padding-top: 30px

    &__btns
      padding-top: 25px


    &__img
      padding: 0

      a
        font: 400 15px Roboto, sans-serif
        text-decoration: underline
        color: #70cbd2
        transition: all .3s
        display: block
        max-width: 107px
        margin: 0 auto
        text-align: center
        @media (min-width: 40em)
          margin: 0

    &__info
      padding-top: 20px
      padding-bottom: 20px

      .detail-info__colors
        margin-bottom: 5px

      .detail-info__size
        @media (min-width: 40em)
          width: 100%

      .detail-info__colors-title,
      .detail-info__size-title
        text-transform: none

      .detail-info__favorite
        padding-top: 0
        margin-bottom: 5px

      .cart__order-attr
        padding-top: 7px


    &__title
      margin-bottom: 10px
      line-height: 15px
      a
        font: 700 16px Roboto, sans-serif
        color: #333
        @media (min-width: 40em)
          font: 700 18px Roboto, sans-serif


    &__price
      font: 700 18px Roboto, sans-serif
      color: #2c2d2d
      white-space: nowrap

    &__price-row
      display: flex
      align-items: center
      justify-content: flex-end
      flex-wrap: wrap
      @media (min-width: 40em)
        justify-content: center

    .cart__sum-item
      padding: 3px 0
      justify-content: flex-start
      @media (min-width: 40em)
        justify-content: flex-end


    .cart__sum-item_left
      justify-content: flex-end

    .cart__sum-item_right
      justify-content: flex-end

      .cart__sum-title
        font-size: 18px

      .cart__sum-text
        font-size: 22px

    .cart__sum-title
      font: 400 15px Roboto, sans-serif
      text-transform: none

    &__prev-wrap
      justify-content: center
      display: flex
      margin-bottom: 20px
      @media (min-width: 40em)
        margin-bottom: 0
        justify-content: flex-end




    &__prev
      font: 400 15px Roboto, sans-serif
      padding-left: 25px
      color: #70cbd2
      display: flex
      cursor: pointer
      &:before
        right: auto
        align-self: center
        top: auto
        left: 0
        transform: rotate(-180deg)
      &:hover:before
        left: -3px
        right: auto
      &:focus
        outline: none

    &__submit-wrap
      display: flex
      justify-content: flex-end

    &__submit.btn.btn_flex
      font: 400 17px Roboto, sans-serif
      padding-right: 50px
      padding-left: 20px

    &__close
      position: absolute
      cursor: pointer
      right: 10px
      top: 10px
      &:before
        font: 13px Flaticon
        color: #000
        content: "\f102"
        transition: all .2s
      &:hover:before
        color: #70cbd2
        transition: all .2s

      &.modal-cart__close_main
        background: transparent
        display: flex
        justify-content: center
        right: 10px
        top: 10px
        border-radius: 40px
        &:before
          font: 15px Flaticon
          align-self: center
        &:hover:before
          color: #70cbd2

    .cart__order-attr
      flex-wrap: wrap

    .cart__input
      margin: 10px 0
      @media (min-width: 40em)
        margin: 0







