.nav
  position: relative
  &__menu.menu-h
    margin-left: 0
    position: relative
    li.nav__menu-list
      padding: 0
      display: flex
      &:hover > a,
      &:focus > a
        text-shadow: $text-hover
      &:hover .nav__submenu,
      &:focus .nav__submenu
        display: block

      > a,
      > span
        text-transform: uppercase
        padding: 1rem 1.5625rem
        color: #000


    .nav__submenu
      list-style: none
      position: absolute
      z-index: 5
      padding: 0 55px 25px
      margin: 0
      display: none
      background: #fff
      border: 1px solid lightgray
      width: 98vw
      min-height: 290px
      left: 50%
      transform: translateX(-50%)
      top: 100%
      @media (min-width: 1118px)
        width: 1100px

      li
        position: relative
        padding: 0
      .nav__submenu-link
        font: .875rem Roboto, sans-serif
        max-width: 180px
        display: block
        font-weight: 700
        color: #a6a6a6
        padding: 1.5rem 0
        text-transform: uppercase
        cursor: pointer
        &:hover,
        &:focus
          color: #70cbd2
      li:not(:last-child)
        .nav__submenu-link
          border-bottom: 1px solid #cccccc
      li.is-active .nav__postmenu
        display: flex
      li.is-active .nav__submenu-link
        color: #70cbd2



    .nav__postmenu
      list-style: none
      display: none
      flex-direction: column
      flex-wrap: wrap
      align-content: flex-start
      width: 857px
      margin: 0 1rem 0 0
      height: 260px
      position: absolute
      top: 1rem
      padding-left: 100px
      left: 10%
      z-index: 5
      @media (min-width: 1160px)
        left: 181px
      li
        padding: 0
        position: static
        &:hover,
        &:focus
          .nav__postmenu-img
            display: block
      li > a
        font: .8125rem Roboto, sans-serif
        color: #a6a6a6
        width: 164px
        font-weight: 400
        position: relative
        display: block
        padding: 6px 0 6px 20px
        &:before
          font: 7px Flaticon
          content: "\f10f"
          position: absolute
          left: 0
          top: 10px
        &:hover,
        &:focus
          color: #70cbd2

  &__postmenu-img
    position: absolute
    display: none
    right: 20px
    top: 8px
    img
      max-width: 240px
      box-shadow: 0 3px 5px 1px rgba(4,5,5,0.42)


