.paging
  white-space: nowrap
  text-align: center
  @media (min-width: 64em)
    text-align: left
  &.paging_center
    @media (min-width: 64em)
      text-align: center


  &__list
    list-style: none
    padding: 0
    margin: 0


  &__item
    display: inline-block
    vertical-align: middle
    font: 700 18px Roboto, sans-serif
    @media (min-width: 64em)
      font: 700 12px Roboto, sans-serif
    a
      color: #494949
      width: 40px
      height: 40px
      line-height: 40px
      display: inline-block
      vertical-align: top
      text-align: center
      border: 1px solid #70cbd2
      border-radius: 25px
      transition: all .3s
      @media (min-width: 64em)
        width: 30px
        height: 30px
        line-height: 30px
      &:hover
        color: #fff
        background: #70cbd2
        transition: all .3s
    &.is-active
      color: #fff
      background: #70cbd2
      width: 40px
      height: 40px
      line-height: 40px
      border-radius: 25px
      text-align: center
      cursor: default
      @media (min-width: 64em)
        width: 30px
        height: 30px
        line-height: 30px


    &.paging__item_space
      margin: 0 8px
      vertical-align: bottom
      &:before
        font: 18px Flaticon
        color: #494949
        content: '\f115'

  &__controls
    display: inline-block
    color: #494949
    a
      color: #70cbd2
      display: block
      height: 100%
    &.paging__controls_prev
      margin-right: 2%
      a
        transition: all .3s
        &:hover
          transform: translateX(-2px)
          transition: all .3s
    &.paging__controls_next
      margin-left: 2%
      a
        transition: all .3s
        &:hover
          transform: translateX(2px)
          transition: all .3s


    span

      &:before
        font-size: 14px
        margin: 0

  &__end
    display: inline-block
    line-height: 40px
    width: 40px
    height: 40px
    color: #494949
    text-align: center
    transform: translateX(0)
    a
      color: #70cbd2
      display: block
      height: 100%
    &.paging__end_prev
      a
        transition: all .3s
        &:hover
          transform: translateX(-2px)
          transition: all .3s
    &.paging__end_next
      a
        transition: all .3s
        &:hover
          transform: translateX(2px)
          transition: all .3s


    span
      &:before
        font-size: 14px
        margin: 0



