.popover
  position: absolute
  top: 0
  left: 0
  z-index: 1060
  display: block
  max-width: 276px
  font: 400 16px Roboto, sans-serif
  text-align: left
  text-align: start
  text-decoration: none
  text-shadow: none
  text-transform: none
  letter-spacing: normal
  word-break: normal
  word-spacing: normal
  white-space: normal
  line-break: auto
  word-wrap: break-word
  background-color: #fff
  background-clip: padding-box
  border: 1px solid rgba(0, 0, 0, 0.2)
  border-radius: 0.3rem
  .arrow
    position: absolute
    display: block
    width: 1rem
    height: 0.5rem
    margin: 0 0.3rem
    &::before, &::after
      position: absolute
      display: block
      content: ""
      border-color: transparent
      border-style: solid

