.post-card
  margin-bottom: 30px

  &__img
    display: block
    img
      max-width: 100%
      height: auto
      display: block
      margin: 0 auto

  &__title
    font: 700 18px Roboto, sans-serif
    margin-bottom: 2.1875rem
    color: #333
    padding: 0 30px
    @media (min-width: 35em)
      padding: 0
    > a
      color: #333

  &__content
    padding-top: 2.8125rem
    text-align: center
    @media (min-width: 40em)
      text-align: left

  &__details
    display: flex
    flex-wrap: wrap
    margin-bottom: 1.25rem
    justify-content: center
    @media (min-width: 40em)
      justify-content: flex-start


  &__date
    font: 18px PlayItalic, sans-serif
    color: #70cbd2
    margin-right: .875rem

  &__text
    margin-bottom: 1.875rem
    p
      font: 400 .9375rem/1.5rem Roboto, sans-serif
      color: #494949