.search-form
  display: flex
  justify-content: flex-end

.search
  display: flex
  padding-top: 0.5625rem
  max-width: 170px
  @media (min-width: 75em)
    max-width: 100%
  @media (min-width: 82em)
    width: 100%

  label
    width: 100%
  &__input.input
    margin: 0
    height: 1.875rem
    visibility: hidden
    opacity: 0
    transition: visibility .3s .4s, opacity .3s
    box-shadow: none
    &.is-active
      visibility: visible
      transition: visibility .3s, opacity .3s .3s
      opacity: 1

  &__btn
    cursor: pointer
    display: inline-block
    margin-left: 0.5625rem
    &:before
      margin-left: 0
      font-size: 1.125rem
    &:focus
      outline: none
      border: 0
    &:hover:before
      color: #70cbd2

    &.search__btn_mob
      cursor: pointer
      margin-left: 1rem
      &:focus
        outline: none
        border: 0
      @media (min-width: 64em)
        display: none



