.overlay
  position: fixed
  width: 100%
  height: 100%
  top: 0
  left: 0
  background: #70cbd2
  z-index: 100
  .overlay-close
    width: 80px
    height: 80px
    position: absolute
    right: 20px
    top: 20px
    border: none
    color: #fff
    outline: none
    z-index: 110
  nav
    text-align: center
    position: relative
    top: 50%
    height: 60%
    transform: translateY(-50%)
  ul
    list-style: none
    padding: 0
    margin: 0 auto
    display: inline-block
    height: 100%
    position: relative
    li
      display: block
      height: 20%
      height: calc(100% / 5)
      min-height: 54px
      backface-visibility: hidden
      a
        font-size: 54px
        font-weight: 300
        display: block
        color: #fff
        transition: color 0.2s
        &:hover, &:focus
          color: #f0f0f0

.overlay-scale
  visibility: hidden
  opacity: 0
  transform: scale(0.9)
  transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s
  &.open
    visibility: visible
    opacity: 1
    transform: scale(1)
    transition: transform 0.4s, opacity 0.4s

@media screen and (max-height: 30.5em)
  .overlay
    nav
      height: 70%
      font-size: 34px
    ul li
      min-height: 34px


.search-mobile__input.input
  font: 400 45px Roboto, sans-serif
  color: rgb(255, 255, 255)
  background: rgba(0, 0, 0, 0)
  font-size: 45px
  font-weight: 300
  text-align: center
  border: 0
  margin: 0 auto
  margin-top: -51px
  outline: none
  box-shadow: none
  height: auto

.search-mobile__content
  position: absolute
  top: 40%
  width: 100%
  margin: 0 auto
  padding-left: 30px
  padding-right: 30px


.search-mobile__result
  font: 400 14px Roboto, sans-serif
  color: #fff

.search-mobile__overlay
  overflow: auto

  ::-webkit-input-placeholder
    color: #fff

  ::-moz-placeholder
    color: #fff

  :-ms-input-placeholder
    color: #fff

  :-moz-placeholder
    color: #fff
