.select-custom
  position: relative
  display: inline-block


  &__title
    font: 700 16px Roboto, sans-serif
    max-width: 265px
    color: #282828
    cursor: pointer
    position: relative
    display: inline-block
    margin-bottom: 8px
    user-select: none
    padding: 0 30px 0 15px
    margin-right: 15px
    white-space: nowrap
    transition: all .3s
    @media (min-width: 25em)
      font-size: 14px
      margin-bottom: 5px
    &:hover
      color: #70cbd2
      transition: all .3s
      &:after
        color: #70cbd2
        transition: all .3s

    &:after
      font: bold 12px Flaticon
      color: #282828
      content: '\f105'
      position: absolute
      right: 0
      top: 27%
      transition: all .3s
      @media (min-width: 25em)
        top: 15%
    &.is-active
      &:after
        transform: rotate(-180deg)
        top: 23%
        transition: all .3s
        @media (min-width: 25em)
          top: 10%

    &.select-custom__title_thin
      font: 400 16px Roboto, sans-serif
      text-transform: uppercase
      margin-bottom: 0
      padding-right: 24px
      margin-right: 8px
      @media (min-width: 64rem)
        font-size: 12px
      &:after
        @media (min-width: 64rem)
          top: 10%
      &.is-active
        &:after
          @media (min-width: 64rem)
            top: 7%




  &__dropdown
    display: none
    position: absolute
    z-index: 100
    width: 100%
    background: #fff
    padding: 0 15px
    border: 1px solid #70cbd2
    max-height: 150px
    overflow: auto
    &.is-active
      display: block

    &.select-custom__dropdown_thin
      margin-top: 8px

  &__list
    list-style: none
    margin: 0
    padding: 0
    display: flex
    flex-direction: column

  &__item
    font: 700 18px Roboto, sans-serif
    color: #282828
    cursor: pointer
    padding: 7px 0
    display: inline-block
    transition: all .3s
    @media (min-width: 25em)
      font: 700 14px Roboto, sans-serif
    &:hover
      color: #70cbd2
      transition: all .3s
    &:hover a
      color: #70cbd2
      transition: all .3s
    &.is-select
      color: #70cbd2
    &.is-select a
      color: #70cbd2

    a
      display: block
      font: 700 18px Roboto, sans-serif
      color: #282828

    &.select-custom__item_thin
      font: 400 16px Roboto, sans-serif
      text-transform: uppercase
      @media (min-width: 64rem)
        font-size: 12px
      a
        font: 400 16px Roboto, sans-serif
        @media (min-width: 64rem)
          font-size: 12px

