.shedule
  display: flex
  flex-direction: column


  &_mobile
    padding-top: 15px
    margin-bottom: 30px
    padding-right: 1.5625rem
    padding-left: 1.5625rem

  &__btn
    font: .875rem Roboto, sans-serif
    white-space: nowrap
    font-weight: 700
    color: #72CBD2
    max-width: 236px
    display: inline-block
    text-align: center
    width: 100%
    height:  2.5rem
    line-height: 2.5rem
    border: 1px solid #72CBD2
    border-radius: 1rem
    cursor: pointer
    transition: all .3s
    @media (min-width: 64rem)
      font-size: 14px

    &:focus
      color: #fff
      background: #72CBD2
      border-color: #72CBD2
      transition: all .3s
      outline: none

    &:hover
      color: #fff
      background: #72CBD2
      border-color: #72CBD2
      transition: all .3s

  &__text
    font: .875rem Roboto, sans-serif
    color: #666666
    margin: 0
    padding: 6px 0
    text-align: center
    position: relative
    width: 100%
    @media (min-width: 64rem)
      font-size: 12px