.slider
  font-size: 50%
  height: 85%
  margin: 0
  z-index: 1
  cursor: auto
  position: relative
  user-select: none
  touch-action: pan-y
  -webkit-tap-highlight-color: transparent
  @media (min-width: 40em)
    font-size: 80%
  @media (min-width: 75em)
    font-size: 100%
    height: 85%

  &-row
    max-width: 100rem
    margin-right: auto
    margin-left: auto

  &__info
    text-align: center
    @media (min-width: 64em)
      text-align: left

  &__item
    position: relative

  &__img-fit
    width: 100%
    height: 350px
    object-fit: cover
    font-family: 'object-fit: cover;'
    @media (min-width: 64em)
      height: auto

  &__content
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    margin: 0 auto

  &__division
    font: 2.25em PlayItalic, sans-serif
    margin-bottom: 0.875em

  &__title
    font: 3.5625em Roboto, sans-serif
    font-weight: 700
    letter-spacing: 2px
    margin-bottom: .5em

  &__controls
    max-width: 100rem
    width: 100%
    position: absolute
    top: 45%
    left: 0
    right: 0
    display: block
    margin: 0 auto

  &__controls-item
    cursor: pointer
    position: absolute
    width: 40px
    height: 40px
    border-radius: 20px
    background: transparent
    text-align: center
    transition: all .3s
    &.slick-disabled
      opacity: .4
      &:hover
        background: #fff
        &:before
          color: #666
    @media (min-width: 64em)
      background: #fff
    &:hover
      @media (min-width: 64em)
        background: #70cbd2
        transition: all .3s
    &:focus
      outline: none
    &:hover:before
      @media (min-width: 64em)
        color: #fff
        transition: all .3s
    &:before
      content: '\f10d'
      font: 13px Flaticon
      margin-left: 1px
      color: #666666
      transition: all .3s
    &.slider__controls-item_prev
      transform: rotate(180deg)
      left: .9375rem
      &.offset-desk-prev
        @media (min-width: 110em)
          left: -60px
          background: #70cbd2
          &:before
            color: #fff
          &:hover
            background: #60A9B0

    &.slider__controls-item_next
      right: .9375rem
      &.offset-desk-next
        @media (min-width: 110em)
          right: -60px
          background: #70cbd2
          &:before
            color: #fff
          &:hover
            background: #60A9B0







  .slick-slide
    &:focus
      border: 0
      outline: 0

  &-posts.slider
    background: #fff
    border-bottom: 0
    user-select: none
    touch-action: pan-y
    -webkit-tap-highlight-color: transparent





