.social
  padding: 0
  list-style: none
  display: flex
  justify-content: space-between
  margin: 0 0 1.7rem 0
  > li
    display: inline
    > a
      color: #70cbd2
      width: 25px
      height: 25px
      border: 1px solid #70cbd2
      display: inline-block
      text-align: center
      padding: 0
      transition: all .3s
      &:before
        font-size: .8rem
        margin: 0
      &:hover
        border-color: #70cbd2
        color: #fff
        background: #70cbd2
        transition: all .3s
      &:hover:before
        color: #fff
        transition: all .3s

