.subscribe
  display: flex
  position: relative
  flex-wrap: wrap
  padding-left: 0
  @media (min-width: 40em)
    flex-wrap: nowrap

  &__title
    font: 400 14px Roboto, sans-serif
    color: #666666
    align-self: center
    margin-right: 1.25rem


  &__form
    display: flex
    width: 70%
    justify-content: flex-end
    flex-wrap: wrap

  &__input
    font: .775rem Roboto, sans-serif
    color: #72CBD2
    width: 100%
    height: 36px
    padding: .875rem 24vw .875rem 1.125rem
    @media (min-width: 45em)
      font-size: .875rem
    @media (min-width: 64em)
      padding-right: 15vw
    @media (min-width: 64em)
      padding-right: 10vw

  &__btn
    font-size: .875rem
    position: absolute
    max-width: 154px
    right: 0
    height: 36px
    line-height: 36px
    cursor: pointer
    padding-right: 0
    &:before
      content: ''

  ::-webkit-input-placeholder
    color: #72CBD2

  ::-moz-placeholder
    color: #72CBD2

  :-ms-input-placeholder
    color: #72CBD2

  :-moz-placeholder
    color: #72CBD2

