.table

  &__section
    border: 0
    margin: 0
    padding: 0
    border-collapse: collapse
    border-spacing: 0
    @media (min-width: 40em)
      border: 1px solid #9d9d9d
    thead,tbody
      border: 0
    thead
      display: none
      @media (min-width: 40em)
        display: table-header-group
    &.table__section_large
      border: 0
      margin: 0
      padding: 0
      border-collapse: collapse
      border-spacing: 0
      @media (min-width: 64em)
        border: 1px solid #9d9d9d
      thead
        display: none
        @media (min-width: 64em)
          display: table-header-group

  &__title
    font: 700 18px Roboto, sans-serif
    color: #282828
    text-transform: uppercase
    text-align: center
    margin-bottom: 25px

  &__row
    margin-bottom: 10px
    display: block
    background-color: #fff
    border: 1px solid #9d9d9d
    padding: 0
    @media (min-width: 40em)
      margin-bottom: 0
      display: table-row
      border: 0
      border-bottom: 1px solid #9d9d9d
      padding: 15px

    &.table__row_large
      margin-bottom: 10px
      display: block
      background-color: #fff
      border: 1px solid #9d9d9d
      padding: 0
      @media (min-width: 64em)
        margin-bottom: 0
        display: table-row
        border: 0
        border-bottom: 1px solid #9d9d9d
        padding: 15px

      td
        font: 400 15px Roboto, sans-serif
        color: #494949
        display: block
        text-align: right
        &:last-child
          border-bottom: 0
        &:before
          content: attr(data-label)
          float: left
          font-weight: bold
          @media (min-width: 64em)
            content: ''
            float: none
            display: none
        @media (min-width: 64em)
          text-align: center
          display: table-cell
          padding: 15px




    &:nth-child(even)
      background-color: #fff
      border-bottom: 1px solid #9d9d9d
    th, td
      padding: 15px
      text-align: center
    th
      font: 700 15px Roboto, sans-serif
      color: #494949
      font-size: 14px
    td
      font: 400 15px Roboto, sans-serif
      color: #494949
      display: block
      text-align: right
      &:last-child
        border-bottom: 0
      &:before
        content: attr(data-label)
        float: left
        font-weight: bold
        @media (min-width: 40em)
          content: ''
          float: none
      @media (min-width: 40em)
        text-align: center
        display: table-cell
        padding: 15px
      &.red
        color: #c16262
      &.green
        color: #578c2c

    a
      color: #70cbd2
      text-decoration: underline
      transition: all .3s
      &:hover
        color: #494949
        transition: all .3s
        text-decoration: none

  &__row-title
    font: 400 15px Roboto, sans-serif
    color: #494949
    text-align: right
    text-transform: uppercase
    @media (min-width: 64em)
      text-align: left
    a
      color: #494949
      display: block
      text-decoration: none
      &:hover
        text-decoration: underline

  &__row-text
    font: 400 15px Roboto, sans-serif
    color: #494949
    text-align: right
    @media (min-width: 64em)
      text-align: left
    &:last-child
      margin-bottom: 0


  &__row-img
    @media (min-width: 64em)
      width: 100px
    img
      width: 100px
      height: auto
    a
      display: inline-block

  &__row-price
    font: 700 15px Roboto, sans-serif
    color: #494949
    margin-bottom: 12px
    &:last-child
      margin-bottom: 0
    &.table__row-price_through
      text-decoration: line-through






