.vertical-list
  padding-right: .8rem
  width: 100%
  margin-bottom: 1.875em
  text-align: left
  @media (min-width: 33em)
    width: 50%
  @media (min-width: 40em)
    padding-right: 2rem
    width: 25%

  &__title
    font: 400 15px Roboto, sans-serif
    color: #666
    position: relative
    padding-bottom: 10px
    margin-bottom: 1rem
    &:before
      content: ''
      position: absolute
      border-top: 1px solid #666
      height: 1px
      width: 65px
      bottom: 0
    @media (min-width: 64em)
      font: 400 14px Roboto, sans-serif

  &__content
    padding: 0
    margin: 0
    list-style: none

    li > a
      font: 300 .9375rem Roboto, sans-serif
      color: #919191
      position: relative
      display: block
      padding: .375rem 0 .375rem 18px
      &:before
        font: 7px Flaticon
        color: #666
        content: "\f10f"
        position: absolute
        left: 0
        top: 12px
      &:hover
        color: #70cbd2
      &:hover:before
        color: #70cbd2
      @media (min-width: 64em)
        font: 400 12px/normal Roboto, sans-serif