.welcome

  &__img
    position: relative
    margin-bottom: 2.5rem
    img
      width: 100%
      max-width: 100%
      height: auto

  &__title
    font: 5.625rem Journalism, serif
    color: #ddb288
    position: absolute
    display: flex
    justify-content: center
    align-items: center
    top: 0
    right: 0
    bottom: 0
    left: 0
    margin: 0 auto

  &__text
    p
      font: 400 0.9375rem/1.5rem Roboto, sans-serif
      color: #494949