.campaign

  &.section
    margin-bottom: 30px


  &__desk
    margin-bottom: 30px
    @media (min-width: 40em)
      margin-bottom: 60px


  &-page
    overflow: hidden


.grid
  margin-bottom: 60px
  @media (min-width: 40em)
    margin-bottom: 130px
    max-height: 910px

  &.grid_1
    .grid__description
      @media (min-width: 40em)
        text-align: left
        width: 100%
        justify-content: flex-start
    .grid__large
      margin-bottom: 15px
      @media (min-width: 40em)
        padding-right: 5%
        margin-bottom: 0

    .grid__middle

      img
        object-fit: contain
        max-width: 100%
        width: 100%
        @media (min-width: 40em)
          margin-right: auto
          width: 58%
          max-height: 572px

  &.grid_2
    .grid__description
      @media (min-width: 40em)
        text-align: right
    .grid__content
      display: flex
      @media (min-width: 40em)
        justify-content: center
        flex-direction: column
        order: 1
        margin-right: .9375rem
        height: 100%
    .grid__season
      @media (min-width: 40em)
        margin-right: 0
        text-align: right
        margin-left: 35px
        order: 2
    .grid__date
      @media (min-width: 40em)
        order: 1
        &:before
          left: auto
          right: 0
    .grid__middle
      @media (min-width: 40em)
        align-items: flex-end
      img
        width: 100%
        object-fit: contain
        max-height: 363px
        margin-bottom: 15px
        @media (min-width: 40em)
          margin-bottom: 0
          order: 2


  &.grid_3

    .grid__description
      @media (min-width: 40em)
        text-align: right

    .grid__content
      max-width: 340px
      display: flex
      height: 100%
      @media (min-width: 40em)
        justify-content: center
        flex-direction: column
        flex: 0 0 40%
        order: 1
        margin-right: .9375rem

    .grid__season
      @media (min-width: 40em)
        margin-right: 0
        text-align: right
        margin-left: 35px
        order: 2

    .grid__date
      @media (min-width: 40em)
        order: 1
        &:before
          left: auto
          right: 0

    .grid__large
      img
        width: 100%
        height: auto


    .grid__middle
      height: auto
      @media (min-width: 40em)
        padding-left: 0
        height: 100%
        align-items: flex-end
        flex-direction: row
        margin-right: 5%
      img
        width: 100%
        height: auto
        margin-bottom: 15px
        @media (min-width: 40em)
          width: 55%
          order: 2

    .grid__column-alone
      @media (min-width: 40em)
        align-self: center

    .grid__large
      padding-left: 0
      @media (min-width: 40em)
        padding-left: 8%

  &.grid_4
    .grid__description
      @media (min-width: 40em)
        text-align: left
        width: 100%
        justify-content: flex-start

    .grid__large
      @media (min-width: 40em)
        padding-right: 7%

    .grid__middle
      img
        width: 100%
        object-fit: contain
        @media (min-width: 40em)
          max-height: 444px
          max-width: 100%
          width: 100%


  &__large
    img
      max-height: 910px
      margin-left: auto
      display: block
      margin-bottom: 15px
      @media (min-width: 40em)
        margin-bottom: 0


  &__middle
    padding-left: 0
    flex-direction: column
    display: flex
    height: 100%
    justify-content: space-between
    @media (min-width: 40em)
      padding-left: 3.5%
    img
      width: 100%
      margin-bottom: 15px
      @media (min-width: 40em)
        width: 58%
        margin-bottom: 5%


  &__content
    max-width: 325px
    display: flex
    flex-wrap: wrap

  &__title
    display: flex
    align-self: flex-end

  &__season
    list-style: none
    display: flex
    flex-direction: column
    margin-right: 35px
    li
      margin-bottom: 15px
      color: #494949
      @media (min-width: 40em)
        margin-bottom: 100%




  &__date
    align-self: flex-start
    color: #010101
    position: relative
    &:before
      content: ''
      position: absolute
      width: 10000%
      height: 1px
      bottom: 0
      left: 0
      border-top: 1px solid #000


  &__description
    font: 700 15px Roboto, sans-serif
    color: #333
    display: flex
    justify-content: flex-start
    width: 100%
    align-self: flex-end
    margin-bottom: 0
    @media (min-width: 40em)
      font-size: 18px
      justify-content: flex-end






