.cart

  .cart__order-list
    margin-bottom: 25px
    max-height: 500px


    .mCSB_inside>.mCSB_container
      margin-right: 30px

    .mCSB_scrollTools
      width: 22px
    .mCS-rounded.mCSB_scrollTools .mCSB_draggerRail
      background: #7f7f7f
      width: 1px

    .mCSB_scrollTools .mCSB_dragger
      height: 20px
    .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar
      background: #70cbd2 !important
      width: 20px !important
      height: 20px
      &:before
        font: .675rem Flaticon
        content: '\f105'
        color: #fff
        text-align: center

  &__column.column
    margin-bottom: 45px
    display: flex
    flex-direction: column

  &__column_2
    margin-bottom: 25px
    @media (min-width: 64em)
      margin-bottom: 0
      order: 2

  &__column_1
    @media (min-width: 64em)
      margin-bottom: 65px
      order: 1


  &__right-offset
    .modal-cart__row
      border-bottom: 0



  &__order-img
    a
      font: 400 15px Roboto, sans-serif
      text-decoration: underline
      color: #70cbd2
      transition: all .3s
      display: block
      max-width: 100px
      margin: 0 auto 35px
      text-align: center
      @media (min-width: 40em)
        text-align: center
        max-width: 100%
      @media (min-width: 64em) and (max-width: 80em)
        text-align: center
      &:hover
        color: #333
        transition: all .3s
        text-decoration: none

    &.column
      @media (min-width: 64em) and (max-width: 80em)
        flex: 0 0 100%
        max-width: 100%

  &__order-title
    font: 700 18px Roboto, sans-serif
    color: #333
    margin-bottom: 40px
    @media (min-width: 80em)
      padding-right: 20px
    a
      color: #333

  &__order-attr
    list-style: none
    display: flex
    align-items: flex-start
    justify-content: space-between


  &__order-sum
    list-style: none
    &:not(:last-of-type)
      margin-bottom: 45px
    li
      margin-bottom: 15px



  &__sum-item
    display: flex
    align-items: center
    flex-wrap: wrap


  &__sum-title
    font: 700 14px Roboto, sans-serif
    color: #333
    text-transform: uppercase
    margin-right: 10px

  &__sum-text
    font: 700 18px Roboto, sans-serif
    color: #2c2d2d

  &__order-info
    &.column
      @media (min-width: 64em) and (max-width: 80em)
        flex: 0 0 100%
        max-width: 100%

    .detail-info__favorite
      padding-top: 0
      margin-bottom: 50px

  &__order-color
    &.detail-info__colors-item
      width: 25px
      height: 25px
      margin-bottom: 0

  &__order-size.detail-info__size
    flex-wrap: nowrap
    margin-bottom: 15px

    .detail-info__size-title
      margin-right: 10px

  &__order-input
    height: 36px
    text-align: center
    line-height: 1
    border: 0
    border-bottom: 1px solid #a1a1a1
    box-shadow: none
    &:focus
      border: 0
      outline: 0
      box-shadow: none
      border-bottom: 1px solid #000
    &.cart__order-input_bonus
      max-width: 50px
      margin-right: 5px
      margin-bottom: 0
    &.cart__order-input_code
      max-width: 100%

  &__order-btn.btn
    padding-right: 50px
    padding-left: 30px

  &__size-num
    font: 700 18px Roboto, sans-serif
    color: #333

  &__input
    display: flex
    flex-wrap: nowrap
    position: relative
    bottom: 2px
    input
      max-width: 50px
      height: 17px
      line-height: 1
      border: 0
      border-bottom: 1px solid #a1a1a1
      box-shadow: none
      &:focus
        border: 0
        outline: 0
        box-shadow: none
        border-bottom: 1px solid #000
    span
      font: 700 14px Roboto, sans-serif
      color: #333
      margin-left: 5px
      display: inline-block

  &__discount-list
    list-style: none

    li
      display: flex
      margin-bottom: 15px
      flex-wrap: wrap
      align-items: center
      @media (min-width: 102em)
        flex-wrap: nowrap

  &__discount-title
    font: 700 15px Roboto, sans-serif
    color: #333
    margin-right: 5px
    margin-bottom: 7px
    &.cart__discount-title_code
      @media (min-width: 102em)
        width: 81%

  &__discount-notmore
    font-weight: 400
    white-space: nowrap


  &__discount-sign
    position: relative
    padding-right: 24px
    &:before
      position: absolute
      right: 0
      color: #70cbd2
      margin-left: 0
      top: -5px

  &__discount-info
    display: flex


  &__result
    display: flex
    align-items: flex-end

    &-title
      font: 700 14px Roboto, sans-serif
      color: #333
      text-transform: uppercase
      line-height: 1.6
      margin-right: 5px

    &-amount
      font: 700 27px Roboto, sans-serif
      color: #2c2d2d

  &__select-custom.select-custom
    border: 1px solid #9d9d9d
    margin-bottom: -1px
    padding: 0


    .select-custom__title
      font: 400 .9375rem Roboto, sans-serif
      color: #aaaaaa
      max-width: 100%
      display: block
      padding-top: 16px
      padding-left: 17px
      padding-bottom: 16px
      margin-right: 20px
      margin-bottom: 0
      &.is-select
        color: #333
      &:after
        top: 38%

    .select-custom__item
      font: 400 .9375rem Roboto, sans-serif
      color: #333
      padding-top: 8px
      padding-bottom: 8px
      &:hover
        color: #70cbd2
      &.is-select
        color: #70cbd2

    .select-custom__dropdown
      border-right: 0
      border-left: 0
      padding: 0 17px

  &__check-call.form__group

    input[type="checkbox"].checkbox-preload + label
      font: 400 15px Roboto, sans-serif
      color: #494949
      padding-top: 0
      padding-left: 25px

    input[type="checkbox"].checkbox-preload + label:before
      border: 1px solid #414141
      width: 10px
      height: 10px
      top: 4px

    input[type="checkbox"].checkbox-preload:checked + label:before
      border-left-color: transparent
      border-top-color: transparent
      height: 20px
      top: -5px
      left: 5px

  &__edit-contact
    margin-bottom: 30px
    text-align: center
    @media (min-width: 40em)
      text-align: left
    a
      font: 400 15px Roboto, sans-serif
      cursor: pointer
      color: #70cbd2
      text-decoration: underline
      transition: all .3s
      padding: 0 20px

      &:hover
        color: #333
        text-decoration: none
        transition: all .3s

  &__edit-address
    display: flex

    justify-content: center
    flex-wrap: wrap
    margin-bottom: 30px
    @media (min-width: 40em)
      flex-wrap: nowrap
      justify-content: space-between
    a
      text-decoration: underline
      font: 400 15px Roboto, sans-serif
      color: #70cbd2
      transition: all .3s
      padding: 0 20px

      &:hover
        color: #333
        text-decoration: none
        transition: all .3s

      &:first-child
        margin-bottom: 15px
        @media (min-width: 25em)
          margin-bottom: 0

  &__without
    @media (min-width: 64em)
      margin-top: -25vw
    @media (min-width: 80em)
      margin-top: -97px

  &__without-title
    font: 700 18px Roboto, sans-serif
    color: #282828

  &__without-text
    font: 400 15px/22px Roboto, sans-serif
    color: #494949

  &__without-group
    margin-bottom: 30px

  &__without-link
    color: #70cbd2
    text-decoration: underline
    transition: all .3s
    padding: 20px 0
    display: block
    text-align: center
    @media (min-width: 40em)
      text-align: left
      display: inline-block
    &:hover
      color: #333
      text-decoration: none
      transition: all .3s


  &__without-btn.btn
    background: transparent
    color: #70cbd2
    padding-right: 50px
    padding-left: 30px
    &:hover
      background: #f0f0f0
      color: #70cbd2

  &-column-disable.column
    position: relative
    opacity: .4
    pointer-events: none

  &__column_mbot.column
    margin-bottom: 100px

  &__btn-prev-wrap
    position: relative

    .cart-btn-prev
      position: absolute
      top: 0
      left: .9375rem
      cursor: pointer
      width: 40px
      height: 40px
      border-radius: 20px
      background: #70cbd2
      text-align: center
      transition: all .3s
      transform: rotate(180deg)
      display: none
      @media (min-width: 40em)
        top: 20%
      &:before
        content: '\f10d'
        font: 13px Flaticon
        margin-left: 1px
        color: #fff
        transition: all .3s
      &:hover
        background: #60A9B0
      &:focus
        outline: 0
      &.is-active
        display: block

  &__whois
    display: flex
    list-style: none
    flex-wrap: wrap
    flex-direction: column
    align-items: center
    margin-bottom: 15px
    li
      font: 700 16px Roboto, sans-serif
      color: #282828
      text-transform: uppercase
      margin-bottom: 22px
    a
      text-decoration: underline
      color: #70cbd2
      transition: all .3s
      &:hover
        color: #282828
        transition: all .3s










