.catalog
  margin-bottom: 50px
  @media (min-width: 40em)
    margin-bottom: 0

  &__description
    margin-bottom: 60px
    display: none
    @media (min-width: 64em)
      display: flex

  &__amount-wrap
    display: flex
    justify-content: flex-end
    margin-bottom: 60px
    @media (min-width: 64em)
      margin-bottom: 0


  &__sort-wrap
    display: flex
    justify-content: flex-end
    @media (min-width: 80em)
      margin-right: 10%

  &__sort-title.select-custom__title
    padding-left: 0
    @media (min-width: 40em)
      padding-left: 15px

  &__banner
    display: block
    width: 100%
    height: auto