.certificate

  &__img
    img
      @media (min-width: 64em)
        transform: scale(.8)
        transition: transform .3s

    &:hover
      img
        @media (min-width: 64em)
          transform: scale(1.05)
          transition: transform .3s

  &__btn.btn
    @media (min-width: 64em)
      right: 0
      left: 0
      bottom: 20%

  &__content
    padding-bottom: 60px

  &__sale
    margin-bottom: 20px

  &__attention
    max-width: 680px
    background: #f8f8f8
    margin: 0 auto
    padding: 35px 40px
    border: 1px solid #b8b8b8
    text-align: center

    p
      font: 400 18px/30px Roboto, sans-serif
      text-align: center
      color: #333

    span
      font: 700 18px/30px Roboto, sans-serif
      color: #333

  &__details
    font-size: 90%
    display: flex
    max-width: 790px
    margin: 0 auto 50px
    flex-direction: column
    @media (min-width: 40em)
      flex-direction: row
    @media (min-width: 50em)
      font-size: 100%

    p
      width: 100%
      font: 400 1.125em Roboto, sans-serif
      line-height: 1.5em
      color: #333
      padding-left: 0
      text-align: center
      @media (min-width: 40em)
        text-align: left
        padding-left: 1.75em
        width: 50%
      @media (min-width: 50em)
        line-height: 1.875em
        padding-left: 3.75em
      &.right-line
        padding-left: 0
        padding-right: 0
        position: relative
        @media (min-width: 40em)
          text-align: right
          padding-right: 1.75em
        @media (min-width: 50em)
          padding-right: 3.75em
        &:after
          @media (min-width: 40em)
            content: ''
            border-right: 1px solid #b8b8b8
            height: 100%
            position: absolute
            top: 0
            right: 0


