.courier-content
  img
    width: 115px
  h2
    display: inline-block
    text-transform: uppercase
    vertical-align: bottom
    margin: 0
    line-height: 1
    color: #282828
    font-size: 18px
    font-weight: 700
    margin-left: 30px
    margin-top: 15px
  ol, ul
    padding-left: 15px
    margin: 20px 0
    li
      color: #494949
      font-size: 15px
  p
    margin-top: 20px
    margin-bottom: 0
    line-height: 1.6
    br
      display: none
      @media (min-width: 40em)
        display: block
