

.delivery
  display: flex
  flex-wrap: wrap
  &__form
    width: 100%
    max-width: 600px
    padding: 0 15px
    margin: 0 auto
    box-sizing: border-box
    button
      display: inline-block
      position: relative
      left: 50%
      transform: translateX(-50%)
      margin-top: 20px
      margin-bottom: 50px
  &__img
    min-height: 250px
    width: 100%
    display: flex
    align-items: center
    justify-content: center
    &.delivery__img_ukr
      img
        max-width: 200px

  &__item
    display: block
    width: 100%
    height: auto
    margin-right: 3px
    margin-top: 3px
    border: 1px solid #70cbd2
    display: -webkit-flex
    display: -ms-flex
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    @media (min-width: 40em)
      width: calc(100% /2 - 3px)
    @media (min-width: 64em)
      width: calc(100% /3 - 3px)
      height: 500px
    img
      width: auto
      max-width: 150px
      transition: all .3s
    p
      text-transform: uppercase
      font-size: 18px
      color: #282828
      font-weight: 800
      margin-top: 20px
      transition: all .3s
    &:hover
      img
        transform: translateY(10px)
        transition: all .3s
      p
        transform: translateY(-10px)
        transition: all .3s


