.favorite

  &__info

    display: flex
    margin: 0 auto 40px
    flex-direction: column
    @media (min-width: 50em)
      flex-direction: row
      max-width: 800px
    @media (min-width: 64em)
      max-width: 927px
    a
      color: #333
      display: block
      text-decoration: underline
      transition: all .3s
      &:hover
        text-decoration: none
        transition: all .3s
    p
      font: 400 16px/25px Roboto, sans-serif
      color: #333
      padding: 0 5.6%
      text-align: center
      @media (min-width: 64em)
        font: 400 18px/30px Roboto, sans-serif
    .right-side
      position: relative
      @media (min-width: 50em)
        text-align: right
        padding-left: 0
      &:after
        @media (min-width: 50em)
          content: ''
          border-right: 1px solid #b8b8b8
          height: 100%
          position: absolute
          top: 0
          right: 0

    .left-side
      position: relative
      @media (min-width: 50em)
        text-align: left
        padding-right: 0
      &:after
        @media (min-width: 50em)
          content: ''
          border-left: 1px solid #b8b8b8
          height: 100%
          position: absolute
          top: 0
          left: 0

  &__info-num
    font-weight: 700
    font-size: 27px