.footer
  order: 4

  &__top
    padding: 3.4375rem 0 0
    background: #f8f8f8
    border-bottom: 1px solid #ccc

  &__logo
    margin-bottom: 1.875em
    display: flex
    justify-content: center
    @media (min-width: 40em)
      justify-content: flex-start
      margin-bottom: 0
    @media (min-width: 64em)
      padding-right: 1.875rem
    .logo__link
      margin-left: 0
      width: 48%
      @media (min-width: 40em)
        width: 100%

  &__contacts
    font-size: 100%
    max-width: 540px
    margin: 0 auto 1.6em
    padding-top: 1.875em
    @media (min-width: 64em)
      padding-top: 0
      position: relative
      top: -45px
      margin: 0 auto 1em
    @media (min-width: 64em) and (max-width: 72em)
      font-size: 87%
    @media (min-width: 72em)
      font-size: 100%
    @media (min-width: 85em)
      padding-left: 45px


  &__bottom
    background: #fff
    padding: .8em 0
    @media (min-width: 40em)
      padding: 1.5625em 0

  &__pay
    background: url(/images/pay-img.png) center 0 no-repeat
    width: 100%
    height: 34px
    margin: 0 0 .5rem 0
    @media (min-width: 40em)
      margin: 0

  &__whose
    font: 300 .9375em Roboto, sans-serif
    color: #666666
    margin: 0 0 .5rem 0
    text-align: center
    @media (min-width: 40em)
      margin: 0
      text-align: left
    &.footer__whose_dev
      margin: 0
      display: flex
      flex-wrap: wrap
      justify-content: center
      @media (min-width: 40em)
        text-align: right
        justify-content: flex-end
      > a
        color: #666
        text-transform: uppercase
        text-decoration: underline
        margin-left: .3rem
        &:hover
          text-decoration: none

  &__menu-wrap
    display: none
    @media (min-width: 40em)
      display: block !important
      padding-top: 1.875em
    @media (min-width: 64em)
      padding-top: 0


  &__menu
    display: flex
    flex-wrap: wrap
    justify-content: flex-start
    flex-direction: row

    &-btn.btn
      margin-bottom: 30px
      padding-right: 35px
      padding-left: 25px
      @media (min-width: 40em)
        display: none
      &:before
        font: 10px Flaticon
        content: '\f10d'
        position: absolute
        top: 34%
        right: 15px
        transition: all .3s
        transform: rotate(90deg)
      &.is-active
        &:before
          transition: all .3s
          transform: rotate(-90deg)

