.header
  background: #fff
  order: 1

  &__top
    border-bottom: 1px solid #cccccc
    background: #f8f8f8

  &__center
    border-bottom: 1px solid #cccccc
    padding: .8125rem 0

  &__bottom
    border-bottom: 1px solid #cccccc

  &__lang
    display: flex
    margin-right: -.4375rem
    padding: .75rem 0

  &__wrap-marks
    display: flex
    justify-content: flex-end
    @media (min-width: 64em)
      display: block