.login

  &.section
    margin-bottom: 0

  &-form__wrap.form__wrap
    width: 100%
    margin: 0 auto 60px
    @media (min-width: 64em)
      width: 595px

  &__input.form__input
    padding: 15px

  &__social.social
    justify-content: center
    margin-bottom: 3.75em
    & > li > a
      width: 34px
      height: 34px
      margin-right: 15px
      border: 1px solid transparent
      &:before
        font-size: 1.3rem
        color: #72CBD2
      &:hover
        background: #fff
        border: 1px solid #9d9d9d
        &:before
          color: #9d9d9d

  &__forgot
    font: .9375rem Roboto, sans-serif
    color: #70cbd2
    text-decoration: underline
    display: inline-block
    margin-bottom: 1.25rem
    transition: all .3s
    &:hover
      text-decoration: none
      color: #000
      transition: all .3s

  &__btn.btn
    margin-bottom: 1.75em
    @media (min-width: 40em)
      margin-bottom: .75em

  &__enter
    font-size: 56%
    @media (min-width: 40em)
      font-size: 100%

  &__text
    font: 400 15px Roboto, sans-serif
    color: #494949
    a
      color: #70cbd2
      transition: all .3s
      text-decoration: underline
      &:hover
        text-decoration: none
        color: #000
        transition: all .3s