.product

  &__content
    padding-top: 25px

    .advantages
      background: #f8f8f8
      margin-bottom: 80px

  &__figure
    margin-bottom: 50px

  &__look
    margin-bottom: 60px

  &__delete-wrap
    text-align: center

  &__delete
    text-align: center


    &-btn
      font: 700 18px Roboto, sans-serif
      color: #2c2d2d
      cursor: pointer
      display: inline-block
      transition: all .3s
      &:hover
        color: #70cbd2
        transition: all .3s








  &__view
    margin-bottom: 80px

  &__btn-wrap
    flex-direction: column
    align-items: center
    @media (min-width: 40em)
      flex-direction: row

  &__btn.btn
    @media (min-width: 40em)
      margin-right: 45px

  .slick-track
    min-width: 100%
