.profile

  &__caption.section__caption
    margin-bottom: 40px

  &__info
    margin: 0 0 55px 0
    padding: 0
    list-style: none
    li
      font: 400 15px/24px Roboto, sans-serif
      color: #494949
      margin-bottom: 14px
      span
        white-space: nowrap
    &-sum
      font: 700 18px Roboto, sans-serif
      color: #494949

    &.profile__info_bonus
      li
        margin-bottom: 3px

  &__menu
    margin: 0
    padding: 0
    list-style: none
    li
      font: 400 15px Roboto, sans-serif
      color: #333333
      text-shadow: $text-hover
      height: 60px
      display: flex
      width: 100%
      border-top: 1px solid #ccc
      align-items: center
      cursor: default
      @media (min-width: 40em)
        max-width: 154px
    a
      font: 400 15px Roboto, sans-serif
      color: #333333
      text-shadow: none
      height: 100%
      display: flex
      width: 100%
      align-items: center
      &:hover
        text-shadow: $text-hover
    li:last-child
        border-bottom: 1px solid #ccc

  &__change
    font: 700 15px Roboto, sans-serif
    color: #494949

  &__column_offset
    padding-top: 12px
    @media (min-width: 64em)
      padding-left: 50px

  &__check
    margin-bottom: 35px
    padding-top: 5px
    input[type="checkbox"].checkbox-preload + label
      font: 400 15px Roboto, sans-serif
      color: #494949
      padding-left: 40px


  &__group_btn.form__group_btn
    align-items: center
    @media (min-width: 64em)
      align-items: flex-start

  &-card__title
    margin-bottom: 15px

  &-card__row
    margin-bottom: 35px

  &-card__column
    margin-bottom: 30px

  &__table
    padding-top: 40px
    margin-bottom: 40px
    @media (min-width: 40em)
      padding-top: 0
    &.profile__table_smalltable
      @media (min-width: 100em)
        padding-top: 0
        max-width: 725px
        margin-left: 12.48%

  &__search
    display: flex
    flex-wrap: wrap
    padding-top: 20px
    @media (min-width: 40em)
      padding-top: 0
      margin-bottom: 50px
      flex-wrap: nowrap

  &__search-btn
    width: 100%
    align-self: center
    text-align: center
    @media (min-width: 64em)
      width: 60%
      text-align: left

  &__search-date
    display: flex
    justify-content: center
    width: 72%
    margin-bottom: 15px
    @media (min-width: 40em)
      width: 100%
      display: block
      margin-bottom: 0

    align-self: center
    @media (min-width: 64em)
      margin-right: 80px
      width: 40%

    label
      position: relative

    .flaticon-calendar
      z-index: 1
      cursor: pointer
      position: absolute
      right: 1.0625rem
      top: 0
      &:before
        font-size: 27px
        color: #70cbd2
        margin-left: 0
        transition: all .3s
      &:hover
        &:before
          color: #494949
          transition: all .3s

  &__input-date
    padding: 23px 70px
    display: inline-block
    text-align: right
    min-width: 260px
    border: 0
    box-shadow: none
    margin-bottom: 0
    &:focus
      border: 0
      box-shadow: none
    &:disabled
      background: transparent
      cursor: auto


  &-history__table-title
    text-align: center

  &-history__table
    max-width: 1060px

  &__common
    display: flex
    justify-content: center

  &__common-info
    padding-top: 45px


  &__common-title
    font: 700 18px Roboto, sans-serif
    color: #282828
    text-transform: uppercase

  &__common-list
    list-style: none
    padding: 0
    margin: 0

    li
      font: 700 15px Roboto, sans-serif
      color: #494949
      margin-bottom: 10px

      span
        font-weight: 400
        display: inline-block
        margin-left: 5px



