.recovery

  &.section
    margin-bottom: 0


  &-form__wrap.form__wrap
    width: 100%
    margin: 0 auto 60px
    @media (min-width: 64em)
      width: 595px

  &__input.form__input
    padding: 1.5rem 2.1875rem

  &__btn
    margin-bottom: 1.6875em

  &__text
    font: 400 15px Roboto, sans-serif
    color: #494949
    a
      color: #70cbd2
      transition: all .3s
      text-decoration: underline
      &:hover
        text-decoration: none
        color: #000
        transition: all .3s