.registration
  &.section
    padding-bottom: 0


  &__caption.section__caption
    margin-bottom: 1.7rem
    @media (min-width: 64em)
      margin-right: 30px

  &__social.social
    justify-content: flex-start
    & > li > a
      width: 34px
      height: 34px
      margin-right: 15px
      border: 1px solid transparent
      &:before
        font-size: 1.3rem
        color: #72CBD2
      &:hover
        background: #fff
        border: 1px solid #9d9d9d
        &:before
          color: #9d9d9d


  &__left
    @media (min-width: 64em)
      padding-right: 45px

  &__right
    @media (min-width: 64em)
      padding-left: 45px

