.section
  margin-bottom: 0
  padding-bottom: 50px
  @media (min-width: 40em)
    margin-bottom: 60px


  &__column
    display: flex

  &__caption
    display: flex
    margin-bottom: 30px
    overflow: hidden
    &.section__caption_twoline
      display: flex
      align-items: center

      .section__title
        margin: 0 .9375rem
        padding: 0

      .section__line
        position: static


  &__title
    font: 700 .9375rem Roboto, sans-serif
    color: #282828
    text-transform: uppercase
    position: relative
    margin: 0 15px 0 0
    padding-right: 20px
    @media (min-width: 40em)
      font-size: 1.125rem
    @media (min-width: 40em)
      font-size: 14px


  &__line
    border-top: 1px solid #333
    width: 10000px
    height: 1px
    top: 50%
    position: absolute
    right: -10000px

  &__bottom
    margin-bottom: 20px


  &__list
    margin-bottom: 50px
    ol
      padding: 0
      margin: 0 0 1.25rem 0
    li
      font: 400 15px Roboto, sans-serif
      color: #333
      margin-bottom: 8px

  &__banner
    background-color: #f3f2f4
    padding: 20px 0

    p
      font: 700 18px Roboto, sans-serif
      color: #333
      margin: 0 20px 0 0
      padding: 10px 0
      text-align: center



    &-content
      display: flex
      align-items: center
      justify-content: center
      flex-wrap: wrap

    &-code
      font: 21px PlayItalic, sans-serif
      color: #333
      display: inline-block
      margin: 0 15px

    &-btn.btn
      margin: 15px 0
      background: transparent
      color: #70cbd2
      &:hover
        background: rgba(transparent,.03)




