.shares

  &__item
    margin-bottom: 35px
    overflow: hidden
    &:nth-child(even)
      @media (min-width: 40em)
        flex-direction: row-reverse
        .shares__item-content
          text-align: right
          padding-right: 6%
          &:before
            right: -20%
            left: auto

        .shares__item-term
          flex-direction: row-reverse
    @media (min-width: 40em)
      margin-bottom: 86px

  &__item-img
    position: relative
    z-index: 2
    a
      display: inline-block

  &__item-content
    position: relative
    padding-top: 3%
    padding-bottom: 3%
    @media (min-width: 40em)
      padding-left: 6%
    &:before
      @media (min-width: 40em)
        content: ''
        border-top: 1px solid #dbe9ea
        border-bottom: 1px solid #dbe9ea
        width: 120%
        height: 100%
        top: 0
        left: -20%
        position: absolute
        z-index: 1

  &__item-wrap
    position: relative
    z-index: 2


  &__item-title
    font: 700 25px Roboto, sans-serif
    color: #333
    text-transform: uppercase
    margin-bottom: 25px
    @media (min-width: 40em)
      font-size: 35px
    @media (min-width: 64em)
      font-size: 40px
    a
      color: #333
      text-decoration: none
      transition: all .3s
      &:hover
        color: #70cbd2
        transition: all .3s

  &__item-text
    margin-bottom: 20px
    @media (min-width: 40em)
      margin-bottom: 45px
    p
      font: 400 15px/25px Roboto, sans-serif
      color: #333
      br
        display: none
        @media (min-width: 64em)
          display: block



  &__item-term
    display: flex
    align-content: center
    img
      width: 30px
      height: 30px
    p
      font: 700 18px Roboto, sans-serif
      color: #333
      text-transform: uppercase
      padding: 0 15px
      margin: 0
      align-self: center