.shops-content

.shops-item
  margin: 30px 0
  &__info
    padding: 25px 0 10px
    display: -webkit-flex
    display: -ms-flex
    display: flex
    justify-content: space-between
    @media (min-width: 40em)
      flex-wrap: wrap
  span
    color: #333333
    font-size: 18px
    font-weight: bold
  a
    text-align: right
  iframe
    width: 100%
    height: 370px
    margin-bottom: 15px
  p
    margin: 10px 0
