.b-blog
  background: grey

  &__content
    width: 100%

  &-page
    p
      font: 400 17px/25px Roboto, sans-serif
      letter-spacing: .03em

    table tbody, table tfoot, table thead
      border: 0

    table a
      display: block

    .postTags
      padding-top: 25px


    &__caption
      font: 400 13px/18px Roboto, sans-serif
      background: #000
      padding: 8px 10px
      width: 100%
      min-height: 55px
      align-items: center
      display: flex
      color: #fff
      @media (min-width: 64em)
        font: 400 16px/20px Roboto, sans-serif

    &__header
      display: flex
      justify-content: space-between
      margin-bottom: 20px


    &__attr-wrap
      display: flex
      align-items: center

    &__logo
      margin-right: 15px


    &__date
      font: italic 400 12px Roboto, sans-serif

  &-related
    padding: 50px 0 20px

    &__story
      margin-bottom: 30px
      overflow: hidden

    &__title
      font: 700 24px Roboto, sans-serif
      text-align: center
      color: #333
      padding-bottom: 35px
      margin-bottom: 45px
      border-bottom: #E5E5E5 solid 1px

    &__link
      display: flex

    &__image
      object-fit: cover
      width: 185px

    &__imagewrap
      margin-right: 15px
      min-width: 60px

    &__headline
      font: 700 16px Roboto, sans-serif
      color: #000
      margin-bottom: 20px

    &__paragraph
      font: 400 14px/21px Roboto, sans-serif
      color: #000
      height: 85px
      overflow: hidden








#select2-b-blog-select-container
  padding: .5rem
  line-height: 1.2

