.b-grid

  &-sizer,
  &-item
    width: 100%
    @media (min-width: 40em)
      width: 48%
    @media (min-width: 64em)
      width: 32%

  &-gutter
    width: 4%
    @media (min-width: 64em)
      width: 2%



