.b-post
  padding-bottom: 15px

  &__head
    position: relative
    &:hover
      .b-share
        display: flex

  &__img-wrap
    display: block
    margin-bottom: 15px
    position: relative

  &__author
    display: flex

  &__by
    font: 400 15px Roboto, sans-serif
    display: flex
    align-items: center

    a
      color: #000
      transition: all .3s
      &:hover
        color: #70cbd2
        transition: all .3s

  &__by-of
    display: inline-block
    margin: 0 5px

  &__title
    a
      font: 700 25px Roboto, sans-serif
      color: #000
      transition: all .3s
      display: inline-block
      &:hover
        color: #70cbd2
        transition: all .3s

  &__text
    font: 400 15px/23px Roboto, sans-serif
    p
      font: 400 15px/23px Roboto, sans-serif