.b-panel
  width: 100%
  justify-content: space-between
  margin: 15px auto
  .select2-container--default span.select2-selection--single
    border-bottom: 1px solid #aaa

  .select2-selection--single span.select2-selection__arrow
    height: 34px

  form
    width: 100%

  input
    height: auto
    background: #f8f8f8
    margin: 0
    line-height: 1

  &__search
    display: flex


  &__search-btn
    position: relative
    display: flex
    padding: .5rem .7rem
    height: auto
    justify-content: center
    align-items: center
    background: #70cbd2
    cursor: pointer
    &:before
      margin: 0
      color: #fff
  .select2-selection__rendered
    background: #f8f8f8
  .select2-selection__arrow
    background: #70cbd2
    width: 44px !important
    &:before
      color: #fff !important