.b-share
  position: absolute
  top: 0
  left: 0
  z-index: 10
  display: none
  a
    width: 44px
    height: 54px
    background: #000
    display: flex
    align-items: center
    justify-content: center
    transition: all .3s
    &:hover
      background: #70cbd2
      transition: all .3s
      &:before
        color: #fff
        transition: all .3s
    &:before
      margin: 0
      color: #fff
      transition: all .3s

  &.b-share--page
    display: flex
    position: static
    z-index: 0
    @media (max-width: 40em)
      display: none

    a
      background: transparent
      &:hover
        &:before
          color: #70cbd2
          transition: all .3s
      &:before
        margin: 0
        color: #b8b8b8
        transition: all .3s