.storyFont
  p
    font: 400 17px/25px Roboto, sans-serif
    letter-spacing: .03em



  .desc
    //background: #000
    //padding: 3px 10px
    //position: absolute
    //bottom: 0
    //width: 100%
    //height: 55px
    //display: flex
    //align-items: center
    //color: #fff
    display: none

  .Collage
    margin-bottom: 20px
    position: relative
    &.i2,
    &.i3,
    &.i4,
    &.i5
      display: flex

  .Caption a
    color: #fff

  .captionNumber
    color: #fff


  .imageLink
    display: block




  .innerImg
    display: block
