html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: normal;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}
.navbar-fixed-top .navbar-nav.navbar-right.nav{
    padding-right: 10px;
}
.block{
    display: block;
}
.right{
    float: right;
}
.left{
    float: left;
}
.ml5 {
    margin-left: 5px;
}
.collapse.navbar-collapse .navbar-right{
    padding-right: 15px;
}
.slider-gallery-container .gallery-item{
    width: 150px;
    display: inline-block;
}
.slider-gallery-container .gallery-item img{
    max-width: 100%;
}
.wrap nav.navbar ul.navbar-left li a span.glyphicon{
    color: white;
}
.wrap nav.navbar li a div{
    text-align: center;
}
ul.nav.side-menu li.dropdown.open ul.child_menu{
    display: block;
}
h1 .btn.block.right{
    margin-right: 0!important;
}
.btn.block.right .fa.fa-plus{
    padding-right: 10px!important;
}
table tr td a.btn.btn-xs:last-child{
    margin-right: 0!important;
}
p a.btn i.fa{
    padding-right: 10px!important;
}
nav ul.change-language-dropdown{
    min-width: 60px!important;
    width: 61px!important;
}
.site_title i{
    border: none;
    border-radius: 0;
}
form.default-form{
    padding-bottom: 30px;
}
.admin-menu-notification{
    margin-left: 10px;
    background: white;
    padding: 4px;
    color: black;
    border-radius: 100%;
}

.product-search {

}

.product-search.active {
    display: block;
}

.grid-view table a span.glyphicon {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    margin-bottom: 5px;
    margin-right: 5px;
    color: #fff;
    background-color: #fff;
    border: 1px solid #ccc;
}

.grid-view table a span.glyphicon-eye-open {
    background-color: #337ab7;
    border-color: #2e6da4;
}
.grid-view table a span.glyphicon-pencil {
    background-color: #5bc0de;
    border-color: #46b8da;
}
.grid-view table a span.glyphicon-trash {
    background-color: #d9534f;
    border-color: #d43f3a;
}
.well-sm {
    padding: 9px;
    border-radius: 2px;
}
.well {
    min-height: 20px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}
.result-product-search {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    /* display: none; */
    position: absolute;
    top: 60px;
    left: 10px;
    width: calc(100% - 20px);
    box-sizing: border-box;
    z-index: 9999;

    rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);

}
.result-product-search ul{
    padding-left: 7px;
}
.result-product-search li {
    cursor: pointer;
    list-style: none;
    padding: 4px;
}
.result-product-search li:hover {
    background: #e2e2e2;
}

.sort-item:hover {
    cursor: move;
}
.product-items {
    position: relative;
    overflow: hidden;
}
.product-tree .product-items .item .title{
    min-height: 45px;
    height: 45px;
}
.advantages__icon {
    width: 2.1875em;
    height: 2.1875em;
    -webkit-transition: all .3s;
    transition: all .3s;
}

#product-tree-items li {
    cursor: pointer;
    margin: 0;
    padding: 2px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    border: 1px solid transparent;
    width: 24%;
}
#product-tree-items .selected {
    border: 1px solid red;
    margin: -1px;
}


#product-tree-items li img {
    display: inline;
}

.x_title {
    border-bottom: 0px;
}
.table tr .label-td {
    text-align: right;
    font-weight: 600;
}
#chartdiv {
    width	: 100%;
    height	: 500px;
}