  @font-face {
    font-family: Comfortaa-Bold; /* Гарнитура шрифта */
    src: url(Comfortaa-Bold.ttf); /* Путь к файлу со шрифтом */
   }

 @font-face {
    font-family: Comfortaa-Light; /* Гарнитура шрифта */
    src: url(Comfortaa-Light.ttf); /* Путь к файлу со шрифтом */
   }

 @font-face {
    font-family: Comfortaa-Medium; /* Гарнитура шрифта */
    src: url(Comfortaa-Medium.ttf); /* Путь к файлу со шрифтом */
   }

 @font-face {
    font-family: Comfortaa-Regular; /* Гарнитура шрифта */
    src: url(Comfortaa-Regular.ttf); /* Путь к файлу со шрифтом */
   }

 @font-face {
    font-family: Comfortaa-SemiBold; /* Гарнитура шрифта */
    src: url(Comfortaa-SemiBold.ttf); /* Путь к файлу со шрифтом */
   }

    @font-face {
    font-family: UniNeueBook; /* Гарнитура шрифта */
    src: url(UniNeueBook.ttf); /* Путь к файлу со шрифтом */
   }
    @font-face {
    font-family: UniNeueBold; /* Гарнитура шрифта */
    src: url(UniNeueBold.ttf); /* Путь к файлу со шрифтом */
   }
    @font-face {
    font-family: UniNeueLight; /* Гарнитура шрифта */
    src: url(UniNeueLight.ttf); /* Путь к файлу со шрифтом */
   }

     @font-face {
    font-family: UniNeueRegular; /* Гарнитура шрифта */
    src: url(UniNeueRegular.ttf); /* Путь к файлу со шрифтом */
   }


