@font-face
  font-family: 'PlayItalic'
  src: url(../fonts/Playfairdisplay-italic.otf)

@font-face
  font-family: 'Journalism'
  src: url(../fonts/journalism-regular.ttf)



$text-hover: 0 0 0 #000, 0 0 0 #000


*
  box-sizing: border-box

body
  font: 16px sans-serif
  font-weight: 400
  background: #fff

[type=color], [type=date], [type=datetime-local],
[type=datetime], [type=email], [type=month], [type=number],
[type=password], [type=search], [type=tel], [type=text],
[type=time], [type=url], [type=week], textarea
  height: 50px

a
  color: #70cbd2

ol,
ul
  padding: 0

li
  font: 400 15px/1.6 Roboto, sans-serif
  color: #333

h1
  @media (min-width: 40em)
    font-size: 1.9375rem

h2
  @media (min-width: 40em)
    font-size: 1.5625rem

p
  font: 400 15px/16px Roboto, sans-serif
  color: #333333
  margin-bottom: 20px
  @media (min-width: 64em)
    font: 400 12px/16px Roboto, sans-serif

a:focus, a:hover
  color: inherit
  outline: 0

.title
  font: 700 26px Roboto, sans-serif
  color: #333
  text-align: center
  padding-top: 2rem
  margin-bottom: 1.75rem
  @media (min-width: 40em)
    font-size: 35px

  &.title_nodescription
    @media (min-width: 40em)
      margin-bottom: 2.5rem

  &.title_toppaddoff
    padding-top: 0


  &-category
    font: 700 18px Roboto, sans-serif
    color: #282828
    text-transform: uppercase
    margin-bottom: 10px

.text
  font: 400 15px/17px Roboto, sans-serif
  color: #494949

.description
  font: 400 .9375rem Roboto, sans-serif
  color: #494949
  text-align: center
  margin-bottom: 1.6375rem


.js-off-canvas-overlay
  background: rgba(0,0,0,.6)
  padding-top: 100px

.off-canvas.is-transition-overlap
  background: #fff

.back-to-top
  position: fixed
  bottom: 15px
  right: 15px
  z-index: 10
  @media (min-width: 40em)
    bottom: 50px
    right: 55px
  a
    width: 62px
    height: 62px
    display: flex
    border-radius: 35px
    background: #70cbd2
    justify-content: center
    transition: all .3s
    &:before
      font-size: 35px
      align-self: center
      color: #fff
      margin: 0

    &:hover
      background: #60A9B0
      transition: all .3s

.column_rel.column
  position: relative
  padding-bottom: 45px

.quantity
  position: relative


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
  -webkit-appearance: none
  margin: 0


input[type=number]
  -moz-appearance: textfield

.quantity.cart__input input
  max-width: 60px
  width: 60px
  float: left
  display: block
  margin: 0
  text-align: center
  height: 29px
  padding: 4px 20px 10px 5px


.quantity input:focus
  outline: 0


.quantity-nav
  position: absolute
  right: 27px
  height: 42px
  top: -7px


.quantity-button
  position: relative
  cursor: pointer
  width: 20px
  text-align: center
  color: #333
  font-size: 16px
  font-family: "Trebuchet MS", Helvetica, sans-serif !important
  line-height: 1.7
  -webkit-transform: translateX(-100%)
  transform: translateX(-100%)
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  -o-user-select: none
  user-select: none
  display: flex
  justify-content: center
  align-items: center
  &.quantity-down
    &:before
      font: bold 12px Flaticon
      color: #282828
      content: '\f105'
  &.quantity-up
    &:before
      font: bold 12px Flaticon
      color: #282828
      content: '\f104'



.quantity-button.quantity-up
  position: absolute
  height: 50%
  top: -2px
  border-bottom: 1px solid #eee


.quantity-button.quantity-down
  position: absolute
  bottom: 5px
  height: 50%

span.select2.select2-container.select2-container--default .select2-selection__rendered
  padding-top: 15px
  padding-left: 17px
  padding-bottom: 15px
  margin-right: 20px

.select2-container--default .select2-selection--single span.select2-selection__rendered
  font: 400 .9375rem Roboto, sans-serif
  color: #aaaaaa

.select2-container--default span.select2-selection--single
  height: auto
  border-radius: 0
  border-bottom: 0


.select2-container--default span.select2-selection--single:focus
  outline: 0

.select2-container--default .select2-search--dropdown input.select2-search__field
  margin-bottom: 0

.select2-container--default .select2-selection--single span.select2-selection__arrow
  width: 52px
  display: flex
  align-items: center
  justify-content: center
  height: 100%

  &:before
    font: bold 12px Flaticon
    color: #282828
    content: '\f105'
    transition: all .3s


.select2-container--default.select2-container--open .select2-selection--single span.select2-selection__arrow
  &:before
    transform: rotate(-180deg)
    transition: all .3s


.select2-container--default .select2-selection--single .select2-selection__arrow b
  display: none

.select2-results__option--highlighted
  background: #70cbd2 !important

.flex-wrapper
  display: flex
  flex-direction: column


.brighttheme .ui-pnotify-title
  font-size: 14px








